<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="css/menu.css">-->
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>Désolé mais votre navigateur ne supporte pas javascript… Ce site a besoin d’un navigateur moderne (comme firefox) à jour :(</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="vendors/exif-js/exif-js"></script>
  </body>
</html>
