<template>
    <span>
        <oma-popup ref="popup">
            <template v-slot:clickable>
                <button>Sélectionner une action</button>
                <span v-if="showSelected">{{value}}</span>
            </template>
            <template v-slot:title>
                    <select v-model="type" v-if="forcedType === false">
                        <option value="" :selected="type==''">Choisissez le type d’action à sélectionner</option>
                        <option v-for="(t, index) in types" :value="index" :key="index">Sélectionner {{t.title}}</option>
                    </select>
                    <h3 v-else="">Sélectionner {{types[type].title}}</h3>
            </template>
            <div v-if="type != ''">
                <ul>
                    <li v-for="item in types[type].items" :key="item"><a @click="select(item)">{{item}}</a></li>
                </ul>
            </div>
        </oma-popup>
    </span>
</template>

<script>
import OmaPopup from './OmaPopup.vue'

export default {
    name: 'ActionPicker',
    props: {
        forcedType: {type: Boolean, default: true},
        defaultType: {type: String, default: 'wav'},
        value: {type: String, default: ''},
        showSelected: {type: Boolean, default: true},
    },
    data: function () { return {
        type: '',
        types: {
            'lstAction': {
                title: 'une action dans une playlist',
                items: ['~Stop~', '~End~'],
            },
        },
        visible: false,
    }},
    computed: {
    },
    created: function () {
        this.type = this.defaultType
    },
    methods: {
        select: function (item) {
            this.$emit('input', item)
            this.$refs.popup.hide()
        },
    },
    components: {
        'oma-popup': OmaPopup,
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
    cursor:pointer;
}
ul{
    list-style: none;
    text-align: left;
}
.filter {
    position: relative;
    padding: 10px;
}
.filter input {
    padding-right: 2.5em;
}
.filter label {
    margin: 0;
    position: absolute;
    right:1em;
    opacity: 0.5;
    top: 1em;
    font-size: 1.2em;
}

.filter-container {
    overflow:hidden;
}
p {
    margin:0;
    width: max-content;
    margin-right: 16px;
    padding: 2px 10px;
}
</style>
