<template>
    <div>
        <h2>Personnaliser le site</h2>
        <button @click="init"><span class="fa fa-refresh"></span>Actualiser la liste</button>
        <table>
            <tr><th>Place</th><th>Fichier actuel</th><th>Nouveau fichier</th></tr>
            <tr v-for="item in items" :key="item.statique_key+item.filename">
                <td>{{item.title}}</td>
                <td>
                    <file-preview v-if="item.filename" :type="item.type" :filename="item.filename"></file-preview>
                    <p class="imgfiller" v-else-if="item.type == 'webpL'">
                        <span>Image par défaut&nbsp;: </span>
                        <img :src="item.default" />
                    </p>
                    <p v-else="">Texte par défaut&nbsp;: <span class="default">{{item.default}}</span></p>
                </td>
                <td>
                    <file-picker :allowed-types="item.type" :allow-empty="true" v-model="item.newfilename"></file-picker>
                    <button class="fa fa-check" v-show="item.newfilename != ''" @click="send(item)"></button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'CustomStatic',
  props: {
  },
  data: function () { return {
    items: [],
  }},
  created: function () {
    this.init()
  },
  methods: {
      init: function () {
        this.items = [
            {
                type: "txt",
                statique_key: "StatiqueTexte-Presentation",
                default: "Une superbe webradio",
                title: "Texte de présentation",
				filename: '',
				newfilename: '',
            },
            {
                type: "txt",
                statique_key: "StatiqueTexte-PremierePage",
                default: "Bienvenue sur notre webradio et bonne écoute !",
                title: "Texte d’accueil",
				filename: '',
				newfilename: '',
            },
            {
                type: "txt",
                statique_key: "StatiqueTexte-Contact",
                default: "Nous ne sommes pas joignables sur ce site… Désolé :(",
                title: "Informations de contact",
				filename: '',
				newfilename: '',
            },
            {
                type: "webpL",
                statique_key: "StatiquePhoto-PremierePage",
                default: "https://static.oma-radio.fr/assets/img/earth.jpg",
                title: "Logo de la radio (carré c’est mieux)",
				filename: '',
				newfilename: '',
            }
        ]
        this.getStatique()
    },
    getStatique: function () {
        this.items.forEach( item => {
            this.$resolveLink(item.statique_key)
            .then(fiche => {
                item.filename = fiche._filename
            })
			.catch( () => {})
        })
    },
    send: function (item) {
        this.$uploadFile (item.statique_key, 'Reel : '+item.newfilename, 'lien', false)
        .then(() => {
            this.init()
            item.newfilename = ''
        })
        .catch( (error)=>{
            alert('Erreur à l’envoi du lien : ' + error)
        })
    },
    remove: function (statique_key) {
        return statique_key
    },
  },
  components: {
    FilePicker,
    FilePreview,
  }
}
</script>

<style scoped>
p {
    margin: 0;
}
.default {
    color: red;
}
.imgfiller img{
    height: 100px;
    vertical-align: middle;
}
</style>
