<template>
    <div>
        <h2>Tableau de bord</h2>
        <disk-usage></disk-usage>
    </div>
</template>

<script>
import DiskUsage from './DiskUsage.vue'
export default {
  name: 'DashBoard',
  props: {
  },
  data: function () { return {
  }},
  created: function () {
  },
  methods: {
  },
  components: {
    'disk-usage': DiskUsage,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
