<template>
    <div>
        <h2>Envoyer un fichier en direct</h2>
        <p>Ce fichier sera affiché sur les players des auditeurs, en direct et en replay</p>
        TODO
        <file-picker></file-picker>
        <file-preview></file-preview>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'ReplaysManager',
  props: {
    baseUrl: {type: String, default: ''},
  },
  data: function () { return {
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
    },
    getSelection: function () {
        this.$fileFetch(this.baseUrl+'/statique/Replays-Statiques.json', {},
            data => {
                this.items = JSON.parse(data)
            },
            error => {
              alert('Impossible de récupérer les replays : '+error)
              this.items = {}
            }
        )
    },
    addNew: function () {
        this.formItem = {date:'', time:'', Texte:'', Photo:''}
    },
    cancel: function () {
        this.formItem = null
    },
    validate: function () {
        if (this.formItem.filename == '') {
            alert('Vous devez choisir un fichier son.')
            return
        }
        this.$apiFetch('/api/replays', {method: 'post'},
            () => {
                alert('Ajout en cours.')
                this.init()
            },
            error => {
                alert('Ajout du replay impossible ' + error)
            }
        )
    },
    edit: function (index) {
        //TODO
        this.formItem = {...this.items[index]}
    },
    remove: function (id) {
        if (! confirm('Voulez-vous vraiment supprimer ce replay ?')) { return }
        this.$apiFetch('/api/replays/'+id, {method: 'delete'},
            () => {
                alert('Replay supprimé.')
                this.init()
            },
            error => {
                alert('Impossible de supprimer ce replay ! '+error)
            }
        )
    },
    checkState: function() {
    //TODO
        var full_name = this.formItem['file'] + '.pod'
        this.waiting = setInterval( () =>{
            this.apiFetch(this.baseUrl + '/import/status/'+full_name, {},
                data => {
                    if (data.state == 'success') {
                        alert('le podcast a bien été ajouté')
                    } else if (data.state == 'pending') {
                        return
                    } else {
                        alert('Une erreur s’est produte lors de l’import du podcast: ' + data.data.message)
                    }
                    clearTimeout(this.waiting)
                },
                error => {
                  alert('Impossible de récupérer la liste des imports : '+error)
                }
            )
        }, 2000)
    }
  },
  components: {
    'file-picker': FilePicker,
    'file-preview': FilePreview,
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

</style>
