<template>
    <div>
        <h3>Utilisation du disque</h3>
        <p>
            <em>{{usage}}</em> le {{time.toLocaleDateString()}} à {{time.toLocaleTimeString()}}
        </p>
    </div>
</template>

<script>
export default {
  name: 'DiskUsage',
  props: {
  },
  data: function () { return {
    usage: 'Non calculé',
    time: new Date(),
  }},
  created: function () {
     this.$apiFetch('/api/diskusage', {},
         data => {
             this.usage = data.usage
             this.time  = new Date(data.time*1000)
             if (this.usage[this.usage.length-1] == "G" && Number(this.usage.slice(0, -1)) > 80) {
                alert("Votre espace disque dédié va bientôt déborder. Merci de faire le ménage ou de contacter oma-radio")
             }
         },
         error => {
           alert('Erreur : ' + error);
         }
     )
  },
  methods: {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
