<template>
    <div>
        <h2>Gestionnaire d’émissions</h2>
        <div>
            <select v-model="emission" @change="updateEmission">
                <option value="">Choisissez votre emission</option>
                <option v-for="(t, index) in emissions" :value="index" :key="index">{{t}}</option>
            </select>
            <button class="fa fa-refresh" @click="getEmissions"></button>
        </div>
        <div>
            <table>
                <tr>
                    <th>Nom</th>
                    <th>Texte</th>
                    <th>Photo</th>
                </tr>
                <tr v-for="t in content" :key="t.simpleName">
                    <td><file-preview type="ogg" :filename="t.simpleName"></file-preview></td>
                    <td>{{t.fiche ? t.fiche.Description :''}}</td>
                    <td><file-preview type="webpL" :filename="t.fiche.Photo"></file-preview></td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>

import {loadSimpleOmaPlaylist, dumpOmaPlaylist, loadOmaFiche} from '../omalib.js'
import FilePreview from './FilePreview.vue'

export default {
  name: 'EmissionManager',
  props: {
  },
  data: function () { return {
    emissions: [],
    emission: null,
    content: {},
  }},
  created: function () {
    this.getEmissions()
  },
  methods: {
    updateEmission: function () {
        if (this.emission === '') return; /* Ignore first line of select */
        this.$fileFetch('/lst/' + this.emissions[this.emission] + '.lst', {}, false, (data) => {
            this.content = []
            let i = 0
            for (const simpleName of loadSimpleOmaPlaylist(data)) {
                const entry = {simpleName:simpleName, fiche:{Photo:''}}
                this.content.push(entry)
                this.$fileFetch('/fic/' + simpleName + '.fic', {}, false, ((ii) => {return (ficContent)=>{
                    this.content[ii].fiche = loadOmaFiche(ficContent)
                }})(i))
                i++
            }
        })
    },
    sendEmission: function () {
        this.$uploadFile(this.emissions[this.emission].slice(0,-4), dumpOmaPlaylist(this.content), 'lst')
    },
    getEmissions: function () {
        this.$apiFetch('/api/emissions', {}, (emissions) => {
            this.emissions = []
            for (const i in emissions) {
                this.emissions.push(emissions[i].slice(0,-4))
            }
        })
    },
  },
  components: {
    FilePreview,
  },
}
</script>

<style scoped>

</style>
