<template>
    <span>
        <span v-if="filename == null">{{filename}}</span>
        <oma-popup v-else="" @visible="getTxt()">
            <template v-slot:clickable>
                <a class="filename">{{filename}}</a>
            </template>
            <template v-slot:title>
                <span>{{filename}}</span>
            </template>
            <div class="container">
                <template v-if="isRichText">
                    <div v-html="content"></div>
                </template>
                <template v-if="isText">
                    <pre>{{content}}</pre>
                </template>
                <template v-else-if="isPicture">
                    <select v-model="quality">
                        <option v-for="(q,index) in qualities" :value="q" :key="q">{{index}}</option>
                    </select>
                    <img :src="'/' + quality + '/' +filename + '.' + quality" />
                </template>
                <template v-else-if="isSound">
                    <audio controls preload="none">
                        <source v-if="type == 'ogg'"  :src="'/ogg/'  + filename + '.ogg'"  type="audio/ogg">
                        <source v-if="type == 'ogg'"  :src="'/mp3/'  + filename + '.mp3'"  type="audio/mp3">
                        <source v-if="type == 'wav'"  :src="'/wav/'  + filename + '.wav'"  type="audio/wav">
                        <source v-if="type == 'wavM'" :src="'/wavM/' + filename + '.wavM'" type="audio/wav">
                        Votre navigateur ne supporte pas l’audio&nbsp;!
                        Nous vous conseillons de le mettre à jour ou d’installer la dernière version de
                        <a href="https://www.mozilla.org/fr/firefox/browsers/">Mozilla Firefox</a>.
                    </audio>
                </template>
                <span class="error">{{error}}</span>
            </div>
        </oma-popup>
    </span>
</template>

<script>
import OmaPopup from './OmaPopup.vue'
import DOMPurify from 'dompurify'

export default {
  name: 'FilePreview',
  props: {
    filename: {type: String, default: null},
    type: {type: String, default: null},
  },
  data: function () { return {
    visible: false,
    content: null,
    qualities: {'Faible': 'webpL', 'Haute':'webpH', 'Originale':'png'},
    quality: 'webpL',
    error: '',
  }},
  computed: {
    isText: function () {
        return ['fic', 'lst', 'prg'].indexOf(this.type) != -1
    },
    isRichText: function () {
        return this.type == 'txt'
    },
    isPicture: function () {
        return this.type == 'png' || this.type == 'webpL' || this.type == 'webpH'
    },
    isSound: function () {
        return this.type == 'ogg' || this.type == 'wav' || this.type == 'wavM'
    },
  },
  created: function () {
    //TODO if type is null, fetch the fic
    if (!this.isText && !this.isPicture && !this.isSound && !this.isRichText) {
        console.error('Bad type for component OmaFileName: '+this.type)
    }
  },
  methods: {
    getTxt: function () {
        if (this.isText || this.isRichText) {
            this.$fileFetch('/' + this.type + '/' + this.filename + '.' + this.type, {}, false)
			.then(data => {
                this.content = DOMPurify.sanitize(data)
            })
            .catch(error => {
              this.error = 'Impossible de récupérer le contenu du fichier texte : '+error
            })
        }
    }
  },
  components: {
    'oma-popup': OmaPopup,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container{
    padding:0 10px;
}
.container img {
    max-width:100%;
    max-height:100%;
}
.error {
    color:red;
}
</style>
