<template>
    <div>
        <h2>Télécharger un fichier</h2>
        <select v-model="type" @change="getItems">
            <option value="">Choisissez le type de fichier à télécharger</option>
            <option v-for="(t, index) in types" :value="index" :key="index">Sélectionner {{t.title}}</option>
        </select>
        <div class="filter-container">
            <div class="filter">
                <label for="filter" class="fa fa-search"></label>
                <input name="filter" type="text" v-model="filter" />
            </div>
        </div>
        <div v-if="type != ''">
            <div v-show="empty">Chargement…</div>
            <p v-show="!empty">Cliquer sur le nom du fichier pour voir son contenu</p>
            <ul>
                <li v-for="item in toShow" :key="item">
                    <a class="noborder" :href="'/' + type + '/' + item + '.' + type" download><button>Télécharger</button></a>
                    <file-preview :filename="item" :type="type"></file-preview>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import FilePreview from './FilePreview.vue'

export default {
    name: 'FileDownloader',
    props: {
    },
    data: function () { return {
        filter: '',
        type: '',
        types: {
            'wav': {title: 'un son original'},
            'wavM': {title: 'un son traité'},
            'ogg': {title: 'un son compressé'},
            'png': {title: 'une image originale'},
            'webpL': {title: 'une image compressée'},
            'txt': {title: 'un texte'},
            'lst': {title: 'une playliste'},
            'prg': {title: 'un programme'},
            'fic': {title: 'une fiche'},
        },
        items: null,
    }},
    computed: {
        empty: function () {
            return this.items === null
        },
        toShow: function () {
            var itemsToShow = []
            /* Each word is a filter. We display items that contain all filters */
            var filters = this.filter.toLowerCase().split(' ').filter(e => {return e != ''})
            for (var item in this.items) {
                var unmatch = false
                for (var filter in filters) {
                    if (this.items[item].toLowerCase().indexOf(filters[filter]) == -1) {
                        unmatch = true
                        break
                    }
                }
                if (!unmatch) {
                    itemsToShow.push(this.items[item])
                }
            }
            return itemsToShow.sort(function (a, b) {
				return a.toLowerCase().localeCompare(b.toLowerCase());
			})
        },
    },
    created: function () {
    },
    methods: {
        getItems: function () {
            if (this.type == '') return;
            this.items = null
            this.$apiFetch('/api/list/'+this.type, {})
			.then(data => {
                if (this.withExtention) {
                    this.items = data
                } else {
                    this.items = []
                    for (var i in data) {
                        this.items.push(data[i].split('.')[0])
                    }
                }
            })
			.catch(error => {
				alert('Erreur de récupération de la liste des fichier : '+error)
			})
        },
        linkOf: function () {
        },
    },
    components: {
        'file-preview': FilePreview,
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
    cursor:pointer;
}
ul{
    list-style: none;
    text-align: left;
}
.filter {
    position: relative;
    padding: 10px;
}
.filter input {
    padding-right: 2.5em;
}
.filter label {
    margin: 0;
    position: absolute;
    right:1em;
    opacity: 0.5;
    top: 1em;
    font-size: 1.2em;
}

.filter-container {
    overflow:hidden;
}
p {
    margin:0;
    width: max-content;
    margin-right: 16px;
    padding: 2px 10px;
}
a.noborder {
    border: none;
}
</style>
