<template>
        <oma-popup ref="popup" @refresh="getItems">
            <template v-slot:clickable>
                <span @click="getItems" class="clickable">
                    <button v-if="showButton || value == ''">Sélectionner un fichier</button>
                    <span v-if="showSelected">
                        {{value}}
                    </span>
                </span>
            </template>
            <template v-slot:title>
                    <select v-model="selectType" @change="getItems" v-if="types.length > 1">
                        <option v-for="type in types" :value="type" :key="type">{{defaultTypes[type].title}}</option>
                    </select>
                    <h3 v-else="">Sélectionner {{defaultTypes[type].title}}</h3>
            </template>
            <template v-slot:header>
                <div class="filter-container">
                    <p>Ajoutez un fichier à la base depuis le menu principal&nbsp;!</p>
                    <div class="filter">
                        <label for="filter" class="fa fa-search"></label>
                        <input name="filter" type="text" v-model="filter" />
                    </div>
                </div>
            </template>
            <div v-if="type != ''">
                <div v-show="state == 'loading'">Chargement…</div>
                <div v-show="state == 'error'">Erreur !</div>
                <ul>
                    <li v-for="item in toShow" :key="item"><a @click="select(item)">{{item}}</a></li>
                </ul>
            </div>
        </oma-popup>
</template>

<script>
import OmaPopup from './OmaPopup.vue'

export default {
    name: 'FilePicker',
    props: {
        defaultType: {type: String, default: 'wavM'},
        allowedTypes: {default: null}, /* null for all, [] for none */
        withExtention: {type: Boolean, default: false},
        value: {type: String, default: ''},
        showSelected: {type: Boolean, default: true},
        showButton: {type: Boolean, default: false},
        allowEmpty: {type: Boolean, default: false},
        defaultFilter: {type:String, default: ''},
    },
    data: function () { return {
        state: 'loading',
        filter: '',
        selectType: '',
        defaultTypes: {
            'wavM': {title: 'un fichier son'},
            'webpL': {title: 'une image'},
            'txt': {title: 'un texte'},
            'lst': {title: 'une playliste'},
            'prg': {title: 'un programme'},
            'lien': {title: 'un lien'},
            'fic': {title: 'une fiche'},
            'serie': {title: 'un épisode de série'},
            'jingle': {title: 'un jingle'},
        },
        items: null,
        visible: false,
    }},
    computed: {
        types: function () {
            if (this.allowedTypes === null) {
                return Object.keys(this.defaultTypes)
            } else if (typeof this.allowedTypes == 'string') {
                return [this.allowedTypes]
            } else {
                return this.allowedTypes
            }
        },
        empty: function () {
            return this.items === null
        },
        type: function () {
            if (this.types.length == 1)
                return this.types[0]
            return this.selectType
        },
        toShow: function () {
            var itemsToShow = []
            /* Each word is a filter. We display items that contain all filters */
            var filters = this.filter.toLowerCase().split(' ').filter(e => {return e != ''})
            for (var item in this.items) {
                var unmatch = false
                for (var filter in filters) {
                    if (this.items[item].toLowerCase().indexOf(filters[filter]) == -1) {
                        unmatch = true
                        break
                    }
                }
                if (!unmatch) {
                    itemsToShow.push(this.items[item])
                }
            }

            itemsToShow.sort()
            if (this.allowEmpty) {
                itemsToShow.unshift('Vide')
            }

            return itemsToShow
        },
    },
    created: function () {
        this.filter = this.defaultFilter
        this.selectType = this.defaultType || this.types[0]
    },
    methods: {
        select: function (item) {
            var filename = item
            if (!this.withExtention) {
                filename = filename.split('.')[0]
            }
            this.$emit('input', filename)
			if (this.type == 'serie') {
				this.$emit('serie', true)
			}
            this.$refs.popup.hide()
        },
        getItems: function () {
            this.state = 'loading'
            if (this.type == '') return;
            this.items = null
            if (this.type == 'serie') {
                this.$ficheFetch('_series-_index')
                .then(data => this.items = data['PodcastsStatiques'])
                .catch(error => alert('Erreur à la récupération des séries : ', error))
            } else if (this.type == 'jingle') {
				this.items = ['_Jingle-Defaut', '_Jingle-Contextuel']
            } else {
                this.$apiFetch('/api/list/'+this.type, {})
                .then( data => {
                    if (this.withExtention) {
                        this.items = data
                    } else {
                        this.items = []
                        for (var i in data) {
                            this.items.push(data[i].split('.')[0])
                        }
                    }
                    this.state = 'ok'
                })
                .catch(error => {
                  alert('Impossible de récupérer la liste des fichiers : '+error)
                  this.state = 'error'
                })
            }
        },
    },
    components: {
        'oma-popup': OmaPopup,
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
a {
    cursor:pointer;
}
ul{
    list-style: none;
    text-align: left;
}
.filter {
    position: relative;
    padding: 10px;
}
.filter input {
    padding-right: 2.5em;
}
.filter label {
    margin: 0;
    position: absolute;
    right:1em;
    opacity: 0.5;
    top: 1em;
    font-size: 1.2em;
}

.filter-container {
    overflow:hidden;
}
p {
    margin:0;
    width: max-content;
    margin-right: 16px;
    padding: 2px 10px;
}

.clickable {
    cursor: pointer;
}

</style>
