<template>
    <div>
        <h2 v-if="forceFilter">Imports en cours&nbsp;: {{hiddenExtentions[filter].name}}</h2>
        <template v-else="">
            <h2>Imports en cours</h2>
            <label>Afficher</label>
            <select v-model="selectFilter">
                <option v-for="(item, index) in hiddenExtentions" :value="index" :key="index">
                    {{item.name}}
                </option>
            </select>
        </template>
        <button @click="getImports"><span class="fa fa-refresh"></span>Actualiser la liste</button>
        <button @click="removeAll">Marquer tous ces imports comme vu</button>
        <table>
            <tr class="underline"><th>Type</th><th>Nom</th><th>État</th><th>Date</th><th class="centred">Actions</th></tr>
            <tr v-for="file in toShow" :key="file.name+file.type">
                <td class="icon_container">
                    <span :class="'fa ' + css[file.type].clas"></span>
                    <span>{{css[file.type].text}}</span>
                    <span class="hide">{{css[file.type].text}}</span>
                </td>
                <td>
                    {{ file.name }}
                </td>
                <td>
                    <span v-if="file.message == ''">{{ file.state }}</span>
                    <span>{{ file.message }}</span>
                </td>
                <td>
                    {{ file.mtime | formatDate }}
                </td>
                <td class="centred">
                    <template>
                        <button v-on:click="removeImport([file.name+'.'+file.type])">
				<span>Vu&nbsp;!</span>
			</button>
			<a :href="'/import/'+file.originalName" :download="file.cleanName"><button><span class="fa fa-download"></span></button></a>
                    </template>
                </td>
            </tr>
            <tr v-if="toShow.length < 1">
                <td class="empty" colspan="4">Aucun import n’est à afficher</td>
            </tr>
            <tr v-if="error.length > 0">
                <td class="empty" colspan="4">{{error}}</td>
            </tr>
        </table>
    </div>
</template>

<script>

export default {
  name: 'ImportState',
  props: {
    forceFilter: {type: Boolean, default: false},
    defaultFilter: {type: String, default: 'all'},
  },
  data: function () { return {
    imports: [],
    selectFilter: '',
    error: '',
    hiddenExtentions: {
        'wav':{name:'les fichiers sons', extentions: ['ogg', 'mp3', 'wav']},
        'png':{name:'les images', extentions: ['png', 'webp', 'jpg']},
        'txt':{name:'les fichiers texte', extentions: ['txt']},
        'prg':{name:'les programmes', extentions: ['prg']},
        'lst':{name:'les playlistes', extentions: ['lst', 'lstBrute']},
        'pod':{name:'les ajouts à la sélection', extentions: ['pod']},
        'lien':{name:'les liens', extentions: ['lien']},
        'fic':{name:'les fiches', extentions: ['fic']},
        'bonus': {name: 'les bonus', extentions: ['bonus']},
		'serie': {name: 'Les séries', extentions: ['serie']},
        'all': {name:'tout', extentions: ['ogg', 'mp3', 'wav', 'png', 'webp', 'jpg', 'txt', 'prg', 'lst', 'lstBrute', 'pod', 'lien', 'fic', 'bonus', 'serie']},
    },
    css: {
        'ogg': {clas:'fa-music', text:'Son'},
        'mp3': {clas:'fa-music', text:'Son'},
        'wav': {clas:'fa-music', text:'Son'},
        'png': {clas:'fa-photo', text:'Image'},
        'jpg': {clas:'fa-photo', text:'Image'},
        'webp': {clas:'fa-photo', text:'Image'},
        'txt': {clas:'fa-file-text-o', text:'Texte'},
        'prg': {clas:'fa-cog', text:'Programme'},
        'lst': {clas:'fa-file-audio-o', text:'Playliste'},
        'lstBrute': {clas:'fa-file-audio-o', text:'Playliste'},
        'pod': {clas:'fa-headphones', text:'Podcast'},
        'lien': {clas:'fa-link', text:'Lien'},
        'fic': {clas:'fa-file-code-o', text:'Fiche'},
        'bonus': {clas:'fa-gift', text:'Bonus'},
		'serie': {clas:'', text:'Série'},
    },
  }},
  computed:{
    toShow: function () {
        return this.imports.filter((item) => {
          return this.hiddenExtentions[this.filter].extentions.indexOf(item.type) != -1
        }).sort((a,b) => a.mtime-b.mtime)
    },
    filter: function () {
        if (this.forceFilter)
            return this.defaultFilter
        return this.selectFilter
    },
  },
  created: function () {
    this.selectFilter = this.defaultFilter
    this.getImports()
  },
  methods: {
    getImports: function () {
        this.$apiFetch('/api/import/state', {})
		.then(data => {
            this.imports = []
            for (var item in data) {
                var name = data[item].name.split('.')
                this.imports.push({
                    'name': name[0],
                    'type': name[1].slice(0,-2),
		'originalName': data[item].name,
		'cleanName': data[item].name.slice(0,-2),
                    'state': data[item].state,
                    'mtime': data[item].mtime,
                    'message': data[item].message,
                })
            }
        })
        .catch(error => {
          this.error = error
          this.imports = {}
        })
    },
    removeImport: function (names) {
        if (names.length < 1) { return }
        this.$apiFetch('/api/upload/file',{
            method: "DELETE",
            body: '{"filenames":'+JSON.stringify(names)+"}"
        })
		.then(() => {
            this.getImports()
        })
		.catch(() => {
			alert('Erreur à la suppression')
			this.getImports()
		})
    },
    removeAll: function () {
        var items = []
        for (var index in this.toShow) {
            items.push(this.toShow[index].name + '.' + this.toShow[index].type)
        }
        this.removeImport(items)
    },
  },
  filters: {
    formatDate: function (value) {
        if (!value) return ''
        return new Date(value*1000).toLocaleString()
    },
  },
}
</script>

<style scoped>
td:first-child, th:first-child {
    width: 5px;
}
.empty{
    text-align:center;
}
/* hidden icons */
.hide {
    display: none;
    position: absolute;
    font-size:0.9em;
    padding: 0 6px;
    background-color: rgba(255,255,255,0.2);
}
.icon_container {
    position: relative;
    text-align:center;
}
.icon_container .fa:hover + .hide {
    display:block;
}
</style>
