<template>
    <div>
        <label>Fichier vers lequel le lien doit pointer&nbsp;:</label>
        <file-picker :value="correctedValue" @input="update($event)" :forced-type="false"></file-picker>{{correctedValue}}
        <p>Ou</p>
        <button @click="lienvide">Lien Vide (vers aucun fichier)</button>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'

export default {
  name: 'NotreSelection',
  props: {
    value: {type: String, required: true},
  },
  data: function () { return {
  }},
  computed:{
    correctedValue: function () {
        return this.value.split(':').pop()
    },
  },
  created: function () {
  },
  methods: {
    update: function(value) {
        this.$emit('input', 'Reel : '+value)
    },
    lienvide: function() {
        this.value = 'Vide'
        this.update('Vide')
    },
  },
  components: {
    'file-picker': FilePicker,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

</style>
