<template>
    <span>
        <div class="loading-container" v-show="visible">
            <div class="popup-background" ></div>
            <div class="scrollable oma-loading">
                <header class="fixed">
                <span class="fa fa-spinner rotation"></span>
                    <span v-show="uploadState == UPLOAD_STATES.NONE">
                        Chargement en cours.
                    </span>
                    <span v-show="uploadState == UPLOAD_STATES.UPLOAD">
                        Envoi du fichier en cours
                    </span>
                    <span v-show="uploadState == UPLOAD_STATES.IMPORT">
                        Import du fichier à la base de sons
                    </span>
                    <span v-show="uploadState == UPLOAD_STATES.CLEAN">
                        Effacement des imports
                    </span>
                </header>
                Merci de patienter et de ne pas fermer cet onglet…
                <progress-bar :percent="percent"></progress-bar>
            </div>
        </div>
    </span>
</template>

<script>
import Vue from 'vue'
import {loadOmaFiche, loadOmaPrg,separators, allowedEmpty} from '../omalib.js'
import ProgressBar from './ProgressBar.vue'

export default {
  name: 'Loading',
  data: function () { return {
    stack: 0,
    uploadState:0,
    /* progress bar */
    current_progress: 0,
    percent:0,
    step:0,
    UPLOAD_STATES: {
        NONE: 0,
        UPLOAD: 1,
        IMPORT: 2,
        CLEAN: 3,
    }
  }},
  computed: {
    visible: function () { return this.stack > 0 }
  },
  watch: {
    stack: function (newVal, oldVal) {
        /* On stack change, set the scroll behavior */
        document.getElementsByTagName('body')[0].style.overflow = (newVal<=0 ? 'auto' : 'hidden')
        window.onbeforeunload = newVal<=0 ? null : this.confirmLeave
        if (newVal > 0 && oldVal == 0) {
            this.current_progress = 0
            this.percent = 0
            this.step = 0.01
        }
    }
  },
  created: function () {
    this.$router.beforeEach((to, from, next) => {
        if (this.stack > 0) {
            next(false)
        } else {
            next()
        }
    })
    Vue.prototype.$apiFetch          = this.apiFetch
    Vue.prototype.$fileFetch      = this.fileFetch
    Vue.prototype.$ficheFetch      = this.ficheFetch
    Vue.prototype.$prgFetch      = this.prgFetch
    Vue.prototype.$uploadFile      = this.uploadFile
    Vue.prototype.$waitForImport  = this.waitForImport
    Vue.prototype.$resolveLink    = this.resolveLink
    setInterval(this.updateProgress, 1000)
  },
  methods: {
    confirmLeave: function (e) {
        e.preventDefault();
        e.returnValue = 'Quiter la page mantenant va interrompre la communication. Êtes vous sûr ?';
        return e.returnValue
    },

    updateProgress: function () {
		if (this.stack == 0 ) return
        if (Math.random() < 0.3) return

        this.current_progress += this.step
        this.percent = Math.round(Math.atan(this.current_progress) / (Math.PI / 2) * 100 * 1000) / 1000
        if (this.percent > 100) {
            this.current_progress = 0
        } else if (this.percent > 70) {
            this.step = 0.001
        } else if (this.step == 0.1) {
            this.step = 0.01
        }
    },


    /* Factorized fetch to handle all API calls in the same way */
    apiFetch: function (url, params) {
        return this.fileFetch(url, params, true).then((data) => {
            /* Applicative status */
            if (data.status == 200) {
                return data.data
            } else {
                throw new Error("API error: "+data.msg)
            }
        })

    },


    ficheFetch: function (name, followLinks=false) {
        return this.fileFetch('/fic/'+name+'.fic', {}, false)
        .then(data => {
            /* Applicative status */
            var o = loadOmaFiche(data)
            o._filename = name
            if (followLinks && Object.hasOwn(o, 'Reel') && o.Reel != 'Vide' && o.Reel != '') {
                return this.ficheFetch(o.Reel, followLinks)
            } else {
                return o
            }
        })
        // Let the caller handle errors
        //.catch(error => {
        //    alert("Error : cant load omafiche " + name + "\n" + error)
        //})
    },
    prgFetch: function (name) {
        return this.ficheFetch(name, true)
        .then( fiche => {
            return this.fileFetch('/prg/'+fiche._filename+'.prg', {}, false)
        })
        .then(data => {
            return loadOmaPrg(data)
        })
    },

    /*
     * Check file existance in soundbase and warn user
     */
    checkFileExists: function(simpleName, extention, warn=true) {
        const replaceable = ['fic', 'lien', 'pod', 'serie'].indexOf(extention) >=0
        if (replaceable && !warn) {
            /* Si le fichier est réinscriptible et qu’on ne souhaite pas demander confirmation avant, on ne va même pas voir s’il existe */
            return {then: f=>f(false)}
        }
        return this.remoteCheckFileExists(simpleName)
        .then( exists => {
            if (exists) {
                if (replaceable) {
                    if (warn && ! confirm('Un fichier avec le même nom existe déjà. Êtes-vous sûrs de vouloir l’envoyer quand même ?')){
                        throw new Error(null)
                    }
                } else {
                    throw new Error('Impossible d’ajouter ' + simpleName + ' ; Un fichier avec le même nom existe déjà')
                }
            }
        })
    },


    /*
     * Check file existance in soundbase
     */
    remoteCheckFileExists: function(simpleName) {
        return this.fileFetch('/fic/'+simpleName+'.fic',{
            method: "HEAD",
        }, false).then( () => {
            return true
        }).catch ( () => {
            return false
        })
    },

    /*
     * cf name convention
     * content is an array of lines or a blob!
     * Files are sent WITHOUT In suffix
     */
    uploadFile: function (simpleName, content, extention, warn=true) {
        /* Set HTTP header */
        var headers = {}
        if (extention in ['txt', 'fic', 'prg', 'lien', 'lst', 'pod'])
            headers = {"Content-Type": "text/plain;charset=UTF-8"}

        var iterableContent = content
        /* Fic object -> fic text */
        if (['fic', 'pod', 'lien', 'serie'].indexOf(extention) >=0 ) {
            if (typeof(content) == "object") {
                iterableContent = ''
                for (const field in content) {
                    if (field[0] == '_') continue

                    if (content[field] == '') {
                        if (allowedEmpty.indexOf(field)>=0)
                            content[field] = 'Vide'
                        else
                            continue
                    }

                    /* If the value is array, join using the right separator */
                    var value = content[field]
                    if (typeof(value) == 'object' && field in separators) {
                        value = content[field].join(separators[field])
                    }

                    /* Concatenate key and value */
                    iterableContent += field + ' : ' + value + '\n'
                }
                iterableContent = [iterableContent]
            } else {
                iterableContent = [content]
            }
        }

        /* Build form data */
        var data = new FormData()
        //TODO wtf, on envie des wav avec text/plain ? Ça ne bile personne…
        data.append('file', new File(iterableContent, simpleName+'.'+extention, {type: "text/plain"}))

        return this.checkFileExists(simpleName, extention, warn)
        .then( () => {
            /* send HTTP request */
            this.uploadState = this.UPLOAD_STATES.UPLOAD
            return this.apiFetch('/api/upload/file',{
                method: "POST",
                body: data,
                headers: headers,
            })
            .then(data => {
                if (data[0].result != 'ok') {
                    throw Error('Erreur à l’envoi : '+data[0].msg)
                }
            })
            .catch( error => {
                this.uploadState = this.UPLOAD_STATES.NONE
                throw Error("Impossible d’envoyer le fichier " + simpleName + ". " + error)
            })
        })
        .then( () => {
            this.uploadState = this.UPLOAD_STATES.IMPORT
            this.stack += 1
            return new Promise((resolve, reject) => {
                this.waitForImport(simpleName + '.' + extention, resolve, reject)
            })
            .then(() => {
                this.stack -= 1
            })
            .catch( error => {
                this.stack -= 1
                throw Error("Erreur lors de l’attente de l’import de " + simpleName + '. ' + error)
            })
        })
        .then( () => {
            this.uploadState = this.UPLOAD_STATES.CLEAN
            return this.apiFetch('/api/upload/file', {
                method: 'DELETE',
                body: '{"filenames":["' + simpleName + '.' + extention + '"]}'
            })
            .catch((error) => {
                throw Error("Erreur lors de la suppressions des imports de " + simpleName + '. ' + error)
            })
        })
        .then( () => {
            this.uploadState = this.UPLOAD_STATES.NONE
        })
    },

    //uploadFiles: function (files) {
    //},

    waitForImport: function (name, resolve, reject) {
        this.apiFetch('/api/import/state/'+name, {})
        .then(data => {
            if (data.state == 'Ok') {
                resolve()
            } else if (data.state == 'Ko') {
                reject('Erreur d’import. '+data.message)
            } else if (data.state == 'In') {
                window.setTimeout(() => this.waitForImport(name, resolve, reject), 2000)
            } else {
                reject('Bug du service distant. Valeur reçue inconnue : ' + data.state)
            }
        })
        .catch(error => {
            reject(error)
        })
    },

    /*
     * Factorized fetch to handle all XHR in the same way
     * and keep track of xhr for loading animation
     */
    fileFetch: function (url, params, json=true) {
        this.stack += 1
        return fetch(url, params).then( (response) =>{
            if (response.ok)
                return json ? response.json() : response.text()
            else
                throw Error(response.statusText)
        })
        .then((data) => {
            this.stack -= 1
            return data
        })
        .catch(error => {
            this.stack -= 1
            throw error
        })
    },


    /* Follow oma links until found real file */
    resolveLink: function (simpleName) {
        return this.ficheFetch(simpleName)
        .then( fiche => {
            if ('Reel' in fiche) {
                return this.resolveLink(fiche.Reel)
            } else {
                return fiche
            }
        })
    },
  },
  components: {
    ProgressBar
  },
}
</script>

<style scoped>
button.fa-close {
    margin-left:15px;
    margin-right:0;
}
.oma-loading {
        margin: auto;
        max-width:90%;
        max-height:90%;
        background-color: #312450;
        border: 2px solid currentColor;
        padding:20px;
        display: inline-block;
        vertical-align:middle;
        text-align: left;
}
.scrollable {
    overflow-y:auto;
}
.loading-container {
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index: 2000;
        text-align: center;
}

.loading-container:before {
    content: "";
    display: inline-block;
    vertical-align:middle;
    height:100%;
}

.popup-background {
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    position:absolute;
    top:0;
    z-index:-1;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items:center;
    flex-direction:row-reverse;
}
.flex select{
    margin:0 0 0.5em;
}
.flex p {
    margin: 0;
}
.fixed {
    background-color: #312450;
    position: sticky;
    top:0;
    border-bottom: 1px solid currentColor;
    margin-bottom:10px;
}

.filename {
    cursor:pointer;
}
.rotation {
    animation: rotation 1s;
    animation-timing-function: steps(8);
    animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
