<template>
    <div>
        <table>
            <tr>
                <th>Fichier</th>
            </tr>
            <tr v-for="(item,index) in correctedValue.lines" :key="index+item.simpleName">
                <td>
                    <file-picker :ref="'picker-'+index" :allow-empty="false" v-model="item.simpleName" allowed-types="wavM" @input="update(index)" @serie="serieEvent(index)"></file-picker>
                </td>
                <td>
                    <button v-on:click="move(index, -1)"><span class="fa fa-arrow-up"></span></button>
                    <button v-on:click="move(index, 1)"><span class="fa fa-arrow-down"></span></button>
                    <button v-on:click="remove(index)"><span class="fa fa-trash"></span></button>

                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import {loadOmaLstBrute, dumpOmaLstBrute} from '../omalib.js'

export default {
  name: 'LstBruteEditor',
  props: {
    value: {type: String, required: true},
  },
  data: function () { return {
  }},
  computed:{
    correctedValue: function () {
        return loadOmaLstBrute(this.value, true)
    },
  },
  created: function () {
      this.init()
  },
  methods: {
    init: function () {
		this.update()
    },
	updateIndex: function(index, e) {
        /* We set the value again to trigger vue reactivity? */
		this.correctedValue.lines[index].index = e.target.value
		this.update()
	},
    update: function () {
        this.$emit('input',dumpOmaLstBrute(this.correctedValue))
    },
    move: function (index, delta) {
        const element = this.correctedValue.lines.splice(index, 1)[0]
        this.correctedValue.lines.splice(index + delta, 0, element)
        this.update()
    },
    remove: function (index) {
        this.correctedValue.lines.splice(index, 1)
        this.update()
    },
  },
  components: {
    'file-picker': FilePicker,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

select {
    /*width: 7em;*/
}

</style>
