<template>
    <div>
        <h3>Extraire un morceau de replay</h3>
        <p>ATTENTION ! L’extrait sera plus grand que les dates renseignées</p>
        <p v-show="filename">
            Le téléchargement va commencer automatiquement. Si ce n’est pas le cas
            <a ref="dllink" :href="'/export/'+filename" :download="'/export/'+filename">Cliquer ici</a>
        </p>
        <div>
            <fieldset>
                <legend>Date de début</legend>
                <input v-model="begin_date" type="date" />
                <input v-model="begin_time" type="time" step="1"/>
            </fieldset>
            <fieldset>
                <legend>Date de fin</legend>
                <input v-model="end_date" type="date" />
                <input v-model="end_time" type="time" step="1"/>
            </fieldset>
            <button @click="extract">Démarrer l’extraction</button>
        </div>
    </div>
</template>

<script>
import {OmaDateTime} from '../omalib.js'
export default {
  props: {
  },
  data: function () { return {
    begin_date: null,
    begin_time: '00:00:00',
    end_date: null,
    end_time: '00:00:00',
    filename: '',
  }},
  created: function () {
  },
  methods: {
    extract: function () {
        if (this.begin_date == null || this.end_date == null) {
            alert ('Vous devez entrer une date de début et de fin')
            return
        }
        this.$apiFetch('/api/pigeogg/slice/'+this.begin_ts+'/'+this.end_ts, {},
            data => {
                this.filename = data.filename
                window.setTimeout(()=>{
                    this.$refs.dllink.click()
                }, 1000)
            },
            error => {
                alert(error)
            })
    },
  },
  computed: {
    begin_ts: function () {
        return (new OmaDateTime()).fromHtmlDateTime(this.begin_date, this.begin_time).toTimestamp()
    },
    end_ts: function () {
        return (new OmaDateTime()).fromHtmlDateTime(this.end_date, this.end_time).toTimestamp()
    },
  },
}
</script>

<style scoped>
</style>
