<template>
    <span>
        <span @click="show">
            <slot name="clickable">Ouvrir</slot>
        </span >
        <div class="popup-container" v-if="visible">
            <div class="popup-background" @click="hide"></div>
            <div class="scrollable oma-popup">
                <header class="fixed">
                    <div class="flex">
                        <button @click="hide" class="close fa fa-close"></button>
                        <slot name="title"></slot>
                    </div>
                    <slot name="header"></slot>
                </header>
                <slot></slot>
            </div>
        </div>
    </span>
</template>

<script>
export default {
  name: 'OmaPopup',
  props: {
  },
  data: function () { return {
    visible: false,
  }},
  computed: {
  },
  created: function () {
  },
  methods: {
    hide: function () {
        this.visible = false
        document.getElementsByTagName('body')[0].style.overflow = 'auto'
    },
    show: function () {
        this.visible = true
        this.$emit('visible')
        document.getElementsByTagName('body')[0].style.overflow = 'hidden'
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
button.fa-close {
    margin-left:15px;
    margin-right:0;
}
.oma-popup {
        margin: auto;
        max-width:90%;
        max-height:90%;
        background-color: #312450;
        border: 2px solid currentColor;
        padding:0 0 10px;
        display: inline-block;
        vertical-align:middle;
        text-align: left;
}
.scrollable {
    overflow-y:auto;
}
.popup-container {
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        z-index: 1000;
        text-align: center;
}

.popup-container:before {
    content: "";
    display: inline-block;
    vertical-align:middle;
    height:100%;
}

.popup-background {
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    z-index:-1;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding:10px;
    align-items:center;
    flex-direction:row-reverse;
}
.flex select{
    margin:0 0 0.5em;
}
.flex p {
    margin: 0;
}
.fixed {
    background-color: #312450;
    position: sticky;
    top:0;
    border-bottom: 1px solid currentColor;
    margin-bottom:10px;
}

.filename {
    cursor:pointer;
}
</style>
