<template>
    <div>
        <h2>Pages personnalisées</h2>
        <button @click="init">
            <span class="fa fa-refresh"></span>
            Tout rafraichir
        </button>
        <span v-show="formItem === null && !editListe">
            <button  v-on:click="addNew">
                <span class="fa fa-plus"></span>
                Ajouter une page
            </button>
            <button v-on:click="startEdition">
                <span class="fa fa-pencil"></span>
                Modifier la liste
            </button>
        </span>
        <span v-show="editListe">
            <button v-on:click="uploadIndex">
                <span class="fa fa-check"></span>
                Valider les modifications
            </button>
            <button v-on:click="init">
                <span class="fa fa-close"></span>
                Annuler les modifications
            </button>
        </span>
        <table>
            <tr class="underline">
                <!--<th alt="Le son doit il être visible pour les auditeurs&nbsp;?">Visible</th>-->
                <th>Titre</th>
                <th>Contenu</th>
                <th class="centred">Actions</th>
            </tr>
            <tr v-if="formItem !== null">
                <td><input type="text" v-model="formItem.Titre" /></td>
                <td>
                    <file-preview v-if="editing" type="txt" :filename="formItem._filename"></file-preview>
                    <file-picker v-else="" v-model="formItem._filename" allowed-types="txt"></file-picker>
                </td>
                <td class="centred">
                    <button class="fa fa-check" @click="validate"></button>
                    <button class="fa fa-close" @click="cancel"></button>
                </td>
            </tr>
            <template v-if="liste">
                <tr v-for="simpleName in liste.PagesStatiques" :key="simpleName" >
                    <template v-if="items[simpleName]">
                        <td>
                            <input type="text" v-if="editIndex == simpleName" v-model="items[simpleName].Titre" />
                            <template v-else="">
                                {{items[simpleName].Titre}}
                            </template>
                        </td>
                        <td><file-preview type="txt" :filename="items[simpleName]._filename"></file-preview></td>
                        <td class="centred">
                            <template v-if="editListe">
                                <button v-on:click="moveItem(simpleName, -1)"><span class="fa fa-arrow-up"></span></button>
                                <button v-on:click="moveItem(simpleName, 1)"><span class="fa fa-arrow-down"></span></button>
                                <button v-on:click="remove(simpleName)"><span class="fa fa-trash"></span></button>
                            </template>
                            <button v-else-if="editIndex==simpleName" v-on:click="validateEdit(simpleName)"><span class="fa fa-check"></span></button>
                            <button v-else="" v-on:click="editIndex=simpleName"><span class="fa fa-pencil"></span></button>
                        </td>
                    </template>
                </tr>
            </template>
        </table>
        <!--<import-state :force-filter="true" default-filter="pod"></import-state>-->
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'PageStatic',
  props: {
  },
  data: function () { return {
    liste: {},
    items: {}, /* Example in the addNew method */
    formItem: null,
    editListe: null,
    editIndex: '',
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
        this.items = {}
        this.editing = false
        this.formItem = null
        this.editListe = null
        this.editIndex = ''
        this.getIndex().then(() => {
              this.getPages()
        })
    },
    getIndex: function () {
        return this.$ficheFetch('_PagesStatiques-_index')
        .then( fiche => {
            this.liste = fiche
            if (!('PagesStatiques' in fiche)) {
                fiche.PagesStatiques = []
            }
        })
        .catch(error => {
            alert('Erreur à la récupération de l’index : ' + error)
        })
    },
    getPages: function () {
        for (const i in this.liste.PagesStatiques) {
            const name = this.liste.PagesStatiques[i]

            this.$ficheFetch(name)
            .then(data => {
                this.$set(this.items, name, data)
            })
            .catch(error => {
                alert('Impossible de récupérer l’item ' + name + '. '+error)
            })
        }
    },
    addNew: function () {
        this.formItem = {_filename:'', Mode: 'add', Titre:''}
    },
    cancel: function () {
        this.formItem = null
    },
    validate: function () {
        if (this.formItem._filename == '') {
            alert('Vous devez choisir un fichier.')
            return
        }
        this.$uploadFile(this.formItem._filename, this.formItem, 'fic', false)
        .then(()=>{
            this.liste.PagesStatiques.push(this.formItem._filename)
            return this.uploadIndex()
        })
        .catch(error => {
            alert('Erreur d’ajout ' + error)
        })

    },
    validateEdit: function (simpleName) {
        this.$uploadFile(simpleName, this.items[simpleName], 'fic', false)
        .then(() => {
            alert('Modification terminée avec succès')
            this.init()
        })
        .catch(error => {
            alert('Erreur de modification ' + error)
        })
    },
    uploadIndex: function () {
        return this.$uploadFile('_PagesStatiques-_index', this.liste, 'fic', false)
        .then(() => {
            alert('Mise à jour validée')
            this.init()
        })
        .catch(error => {
            alert('Erreur de modification de l’index : '+error)
        })
    },
    edit: function (simpleName) {
        this.formItem = this.items[simpleName]
        this.editing = true
    },
    remove: function (simpleName) {
        //if (! confirm('Voulez-vous vraiment supprimer ce podcast ?')) { return }
        this.liste.PagesStatiques = this.liste.PagesStatiques.filter(item => item != simpleName)
    },
    startEdition: function () {
        this.editListe = true
    },
    moveItem: function (simpleName, amount) {
        const index = this.liste.PagesStatiques.indexOf(simpleName)
        const newIndex = index + amount
        if (newIndex >= 0 && newIndex < this.liste.PagesStatiques.length && newIndex != index) {
            const temp = this.liste.PagesStatiques[index]
            //this.liste.PagesStatiques[index] = this.liste.PagesStatiques[newIndex]
            //this.liste.PagesStatiques[newIndex] = temp
            this.$set(this.liste.PagesStatiques, index, this.liste.PagesStatiques[newIndex])
            this.$set(this.liste.PagesStatiques, newIndex, temp)
        }
    },
  },
  components: {
    FilePicker,
    FilePreview,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

</style>
