<template>
    <div>
        <h3>Configuration de la pige</h3>
        <div>
            <label for="temps">Temps de conservation de la pige :</label>
            <input type="number" name="temps" v-model="amount" min="1" step="1" />
            <select v-model="multiplier">
                <option value="days">Jours</option>
                <option value="months">Mois</option>
                <option value="years">Années</option>
            </select>
            <input type="submit" value="Valider" />
            <p>En france, le CSA oblige la conservation d’un mois de pige</p>
        </div>
    </div>
</template>

<script>
export default {
  name: 'PigeConfig',
  props: {
  },
  data: function () { return {
    amount: 1,
    multiplier: 'months',
  }},
  created: function () {
  },
  methods: {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
