<template>
    <div>
        <h2>Afficher une playlist</h2>
        <div>
            <label>Playlist à afficher&nbsp;:</label>
            <select v-model="simpleName" @change="getPlaylist">
                <option disabled="disabled" value="">Choisissez une playlist</option>
                <option v-for="p in playlists" :value="p" :key="p">{{p}}</option>
            </select>
        </div>
        <div v-if="playlist !== null">
            <table>
                <tr>
                    <th>Fichier à jouer</th>
                    <th>Mode</th>
                </tr>
                <tr v-for="line in playlist" :key="line.id">
                    <td>{{line.simpleName}}</td>
                    <td>{{line.mode}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import {loadOmaPlaylist} from '../omalib.js'
export default {
  name: 'Playlist',
  props: {
  },
  data: function () { return {
    simpleName: '',
    playlists: [],
    playlist: null,
  }},
  created: function () {
      this.$apiFetch('/api/list/lst', {},
          data => {
            for (var line in data) {
                this.playlists.push(data[line].split('.')[0])
            }
          },
          error => {
            alert('There has been a problem with your fetch operation:', error);
          }
      )
  },
  methods: {
      getPlaylist: function () {
          this.$fileFetch('/lst/' + this.simpleName + '.lst', {}, true,
              data => {
                  this.playlist = loadOmaPlaylist(data)
              },
              error => {
                alert('There has been a problem with your fetch operation:', error);
              }
          )
      },
  },
}
</script>

<style scoped>
</style>
