<template>
    <div>
        <label for="nb-play">Nombre de morceaux à jouer parmis ceux de la liste (0 = tous) :</label>
        <input name="nb-play" id="nb-play" type="number" v-model="correctedValue.nbPlay" @input="update()" min="0" :max="correctedValue.lines.length-1" />
        <br />

        <span>Son a jouer en cas d’interruption de la playlist :</span>
        <file-picker allowed-types="wavM" :show-selected="true" v-model="correctedValue.annonce" :allow-empty="true" @input="update()"></file-picker>

        <table>
            <tr>
                <th>Fichier</th>
                <th>Épisode en partant de la fin</th>
                <th>Mode</th>
            </tr>
            <tr v-for="(item,index) in correctedValue.lines" :key="index+item.simpleName">
                <td>
                    <file-picker :ref="'picker-'+index" :allow-empty="false" v-model="item.simpleName" :allowed-types="['wavM', 'serie', 'jingle']" @input="update(index)" @serie="serieEvent(index)"></file-picker>
                </td>
                <td>
                    <select v-if="item.index" v-model="item.index" @input="updateIndex(index, $event)">
                        <option value="" disabled>Choisir un épisode</option>
                        <option value="rnd">Aléatoire</option>
                        <option v-for="i in 10" :value="i-1" :key="i">{{i}}</option>
                    </select>
                </td>
                <td>
                    <select v-model="item.mode" @input="updateSelect(index, $event)">
                        <option value="" disabled>Choisir un mode</option>
                        <option v-for="(mode,v) in modes" :value="v" :key="v">{{mode}}</option>
                    </select>
                </td>
                <td>
                    <button v-on:click="move(index, -1)"><span class="fa fa-arrow-up"></span></button>
                    <button v-on:click="move(index, 1)"><span class="fa fa-arrow-down"></span></button>
                    <button v-on:click="remove(index)"><span class="fa fa-trash"></span></button>

                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import {loadOmaPlaylist, dumpOmaPlaylist} from '../omalib.js'

export default {
  name: 'PlaylistEditor',
  props: {
    value: {type: String, required: true},
  },
  data: function () { return {
    modes: {
        'M': 'Mobile',
        'F': 'Fixe',
        'L': 'Lié au précédent',
    },
  }},
  computed:{
    correctedValue: function () {
        return loadOmaPlaylist(this.value, true)
    },
  },
  created: function () {
      this.init()
  },
  methods: {
    init: function () {
        this.nbPlay = 5
        this.tooLongPlay = 'Vide'
    },
    updateSelect: function(index, e) {
        /* We set the value again to trigger vue reactivity. The v-model on select is not enought. Fuck it anyway. */
        this.correctedValue.lines[index].mode = e.target.value
        this.update()
    },
	updateIndex: function(index, e) {
		this.correctedValue.lines[index].index = e.target.value
		this.update()
	},
	serieEvent: function (index) {
		if (! ('index' in this.correctedValue.lines))
			this.correctedValue.lines[index].index = 'rnd'
        this.update()
	},
    update: function () {
        this.$emit('input',dumpOmaPlaylist(this.correctedValue))
    },
    move: function (index, delta) {
        const element = this.correctedValue.lines.splice(index, 1)[0]
        this.correctedValue.lines.splice(index + delta, 0, element)
        this.update()
    },
    remove: function (index) {
        this.correctedValue.lines.splice(index, 1)
        this.update()
    },
  },
  components: {
    'file-picker': FilePicker,
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

select {
    /*width: 7em;*/
}

</style>
