<template>
    <div id="container">
        <div :style="{width: cssWidth}" id="bar">
        </div>
    </div>
</template>

<script>

export default {
  name: 'ProgressBar',
  props: {
    percent: {type: Number, required: true, validator(value) { return value >=0 && value <=100 }},
  },
  data: function () { return {
  }},
  computed: {
      cssWidth: function () {
        return this.percent + '%'
    },
  },
  created: function () {
  },
  methods: {
  },
}
</script>

<style scoped>
    #container {
        width: 100%;
        height: 20px;
		border: 1px solid rgba(255, 255, 255, 0.7);
    }
    #bar {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
    }
</style>
