<template>
    <div>
        <h2>Afficher un programme</h2>
        <div>
            <label>Fichier du programme </label>
            <select v-model="progName" @change="getPrg">
                <option disabled="disabled" value="">Choisissez un programme</option>
                <option v-for="p in programs" :value="p" :key="p">{{p}}</option>
            </select>
        </div>
        <div v-if="program !== null">
            <div>
                <label>Mode du programme </label>
                <select v-model="program.mode" disabled="disabled">
                    <option value="Heure">Heure</option>
                    <option value="Jour">Jour</option>
                    <option value="Mois">Mois</option>
                    <option value="Annee">Année</option>
                    <option value="Maintenant">Maintenant</option>
                </select>
            </div>
            <table>
                <tr><th colspan="7">Temps</th><th colspan="2">Action</th></tr>
                <tr>
                    <th>Mode</th>
                    <th>Année</th>
                    <th>Mois</th>
                    <th>Jour</th>
                    <th>Heure</th>
                    <th>Minute</th>
                    <th>Seconde</th>
                    <th>Action</th>
                    <th>Paramètre</th>
                </tr>
                <tr v-for="line in program.program" :key="line.id">
                    <td>{{line.mode}}</td>
                    <td>{{line.year}}</td>
                    <td>{{line.month}}</td>
                    <td>{{line.day}}</td>
                    <td>{{line.hour}}</td>
                    <td>{{line.minute}}</td>
                    <td>{{line.second}}</td>
                    <td>{{line.action}}</td>
                    <td>{{line.params.join(' ')}}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import {loadOmaPrg} from '../omalib.js'
export default {
  name: 'Program',
  props: {
    baseUrl: {type: String, default: null},
  },
  data: function () { return {
    mode: 'hour',
    progName: '',
    programs: [],
    modes: {
        'P': 'Relativement à la fin du fichier précédent',
        'R': 'Relatif au temps de début de l’action précédente. Le temps est ajouté au temps précédent.',
        'S': 'La date précédent est arrondie au lundi minuit précédent. On y ajoute la différence de temps.',
        'H': 'Relatif à l’heure courante + certaines minutes',
        'J': 'Relatif à aujourd’hui 00h00',
    },
    variablesSystemes: {
        'vide': 'Mot interdit',
        'heure': 'L’heure courante 00, 01, 02…',
        'jour': 'Contient le jour courant lors de l’évaluation de la variable : Lundi, Mardi, Mercredi…',
        'jour-1': 'La veille',
        'plageHoraire': 'La plage actuelle : Matin, Aprem, Soir, Nuit',
        'semaine': 'Numéro de la semaine',
        'semaine-1': 'Numéro de la semaine précédente',
        'semaine-2': 'Numéro de la semaine -2',
        'semaine-3': 'Numéro de la semaine -3',
        'semaine-4': 'Numéro de la semaine -4',
    },
    program: null,
    //program: {
    //    mode: 'Jour',
    //    programs: [],
    //    program: [
    //        {id:0, mode: 'H', year:0, month:0, day:0, hour:0, minute:0, second:0, action:'setvar', params: [0, 'Demo']},
    //    ],
    //},
  }},
  created: function () {
      this.$apiFetch(this.baseUrl + '/api/list/prg', {},
          data => {
            this.programs = data
          },
          error => {
            console.error('There has been a problem with your fetch operation:', error);
          }
      )
  },
  methods: {
      getPrg: function () {
          this.$fileFetch(this.baseUrl + '/prg/' + this.progName, {}, true,
              data => {
                  this.program = loadOmaPrg(data)
              },
              error => {
                console.error('There has been a problem with your fetch operation:', error);
              }
          )
      },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
