<template>
    <div>
        <h2>Programmation {{sanitizedPrefix}}</h2>
        <div class="scrollcontainer">
        <table>
            <thead>
                <tr>
                    <th class="hours_header"></th>
                    <th v-for="day in days" :key="day">{{day}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="hour in hours" :key="hour">
                    <th class="hour">{{hour}}</th>
                    <td v-for="day in days" :key="prefix + day + '_' + hour + '_'">
                        <file-picker :allowed-types="types" :show-button="false" :allow-empty="true" v-model="links[link_name(day,hour)]" @input="event => update(day, hour, event)"></file-picker>
                        <button v-if="days.length > 1" title="Appliquer à tous les jours" @click="expandToWeek(day,hour)">↔</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</template>

<script>

import FilePicker from './FilePicker.vue'

export default {
  name: 'Programation',
  props: {
      types: {type: Array, default: () => ['wavM']},
      prefix: {type: String, required: true},
      days: {type: Array, default: () => ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche']},
      hours: {type: Array, default: () => [ '0h', '1h', '2h', '3h', '4h', '5h', '6h', '7h', '8h', '9h', '10h', '11h', '12h', '13h', '14h', '15h', '16h', '17h', '18h', '19h', '20h', '21h', '22h', '23h']},
  },
  data: function () { return {
      program: {},
      links: {},
  }},
  created: function () {
      this.init()
  },
  methods: {
    init: function () {
        this.getLinks()
    },
    getLinks: function () {
        for (const day of this.days) {
            for (const hour of this.hours) {
                this.$ficheFetch(this.link_name(day, hour))
                .then(data => {
                    this.$set(this.links, this.link_name(day,hour), data.Reel)
                })
                .catch(()=> {
                    this.$set(this.links, this.link_name(day,hour), 'Vide')
                })
            }
        }
    },
    link_name: function (day, hour) {
        if (this.days == ['_']) {
            return this.prefix + hour
        } else {
            return this.prefix + day + '_' + hour
        }
    },
    update: function (day, hour, target) {
        return this.$uploadFile(this.link_name(day, hour), {'Reel': target}, 'lien', false)
        .then(() => {
            alert('La programmation de ' + day + ' à ' + hour + ' a été mise à jour.')
        })
    },
    expandToWeek: function (day, hour) {
        const reel = this.links[this.link_name(day,hour)]
        if (! confirm('Êtes vous sûr·e de vouloir appliquer le titre « ' + reel + ' » tous les jours à ' + hour + ' ?')) { return }
        for (const d of this.days) {
            if (d == day) continue
            this.update(d, hour, reel).then(()=>{
                this.$set(this.links, this.link_name(d,hour), reel)
            })
        }

    },
  },
  computed: {
      sanitizedPrefix: function () {
        return this.prefix.replace('-', '').replace('_', '')
    },
  },
  components: {
      FilePicker,
  },
}
</script>

<style scoped>
td, th{
    padding: 2px;
}
th {
    background-color: #241a3b;
}
tr:nth-child(odd) {
    background-color: #241a3b;
}
.scrollcontainer {
    overflow: scroll;
	max-height:100vh;
	max-width:100%;
}
thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  z-index:101;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  z-index:100;
}
</style>
