<template>
    <div>
        <button @click="init">
            <span class="fa fa-refresh"></span>
            Tout rafraichir
        </button>
        <h2>Vos Replays</h2>
        <button v-if="formItem === null" v-on:click="addNew">
            <span class="fa fa-plus"></span>
            Ajouter un replay
        </button>
        <table>
            <tr class="underline">
                <!--<th alt="Le son doit il être visible pour les auditeurs&nbsp;?">Visible</th>-->
                <th>Temps</th>
                <th>Texte</th>
                <th>Image</th>
                <th class="centred">Actions</th>
            </tr>
            <tr v-if="formItem !== null">
                <!--<td><input type="checkbox" v-model="element.enabled" /></td>-->
                <td><input type="date" v-model="formItem.date" /> <input type="time" v-model="formItem.time" /></td>
                <td><input type="text" v-model="formItem.Texte" /></td>
                <td><file-picker v-model="formItem.Photo" default-type="png"></file-picker>{{formItem.Photo}}</td>
                <td class="centred">
                    <button class="fa fa-check" @click="validate"></button>
                    <button class="fa fa-close" @click="cancel"></button>
                </td>
            </tr>
                <tr v-for="(item,index) in items" :key="item.file">
                    <!--<td><input type="checkbox" v-model="item.enabled" /></td>-->
                    <td>{{item.date}} à {{item.time}}</td>
                    <td>{{item.Texte}}</td>
                    <td><file-preview type="png" :filename="item.Photo"></file-preview></td>
                    <td class="centred">
                        <!--<button v-on:click="edit(index)">Modifier</button>-->
                        <button v-on:click="remove(index)">Supprimer</button>
                    </td>
                </tr>
        </table>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'ReplaysManager',
  props: {
    baseUrl: {type: String, default: ''},
  },
  data: function () { return {
    makeMp3: true,
    items: [], /* Example in the addNew method */
    formItem: null,
    waiting: null,
    imports: {},
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
        this.getSelection()
        this.formItem = null
    },
    getSelection: function () {
        this.$fileFetch(this.baseUrl+'/statique/Replays-Statiques.json', {}, true,
            data => {
                this.items = JSON.parse(data)
            },
            error => {
              alert('Impossible de récupérer les replays : '+error)
              this.items = {}
            }
        )
    },
    addNew: function () {
        this.formItem = {date:'', time:'', Texte:'', Photo:''}
    },
    cancel: function () {
        this.formItem = null
    },
    validate: function () {
        if (this.formItem.filename == '') {
            alert('Vous devez choisir un fichier son.')
            return
        }
        this.$apiFetch('/api/replays', {method: 'post'},
            function () {
                alert('Ajout en cours.')
                this.init()
            },
            error => {
                alert('Ajout du replay impossible ' + error)
            }
        )
    },
    edit: function (index) {
        //TODO
        this.formItem = {...this.items[index]}
    },
    remove: function (id) {
        if (! confirm('Voulez-vous vraiment supprimer ce replay ?')) { return }
        this.$apiFetch('/api/replays', {method: 'delete', id:id},
            function () {
                alert('Replay supprimé.')
                this.init()
            },
            error => {
                alert('Impossible de supprimer ce replay ! '+error)
            }
        )
    },
    checkState: function() {
    //TODO
        var full_name = this.formItem['file'] + '.pod'
        this.waiting = setInterval( () =>{
            this.$apiFetch(this.baseUrl + '/import/status/'+full_name, {},
                data => {
                    if (data.state == 'success') {
                        alert('le podcast a bien été ajouté')
                    } else if (data.state == 'pending') {
                        return
                    } else {
                        alert('Une erreur s’est produte lors de l’import du podcast: ' + data.data.message)
                    }
                    clearTimeout(this.waiting)
                },
                error => {
                  alert('Impossible de récupérer la liste des imports : '+error)
                }
            )
        }, 2000)
    }
  },
  components: {
    'file-picker': FilePicker,
    'file-preview': FilePreview,
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

</style>
