<template>
    <div>
        <h2 v-if="serie">Série : {{serie.Titre}}</h2>
        <button @click="init">
            <span class="fa fa-refresh"></span>
            Tout rafraichir
        </button>
        <span v-show="formItem === null && !editSerie">
            <button  v-on:click="addNew">
                <span class="fa fa-plus"></span>
                Ajouter un son à la série
            </button>
            <button v-on:click="startEdition">
                <span class="fa fa-pencil"></span>
                Modifier la série
            </button>
        </span>
        <span v-show="editSerie">
            <button v-on:click="uploadSerie">
                <span class="fa fa-check"></span>
                Valider les modifications
            </button>
            <button v-on:click="init">
                <span class="fa fa-close"></span>
                Annuler les modifications
            </button>
        </span>
        <table>
            <tr class="underline">
                <!--<th alt="Le son doit il être visible pour les auditeurs&nbsp;?">Visible</th>-->
                <th>Son</th>
                <th v-if="!onlyText">Titre</th>
                <th v-if="!onlyText">Description</th>
                <th v-if="!onlyText">Image</th>
                <th class="centred">Actions</th>
            </tr>
            <tr v-if="formItem !== null">
                <td>
                    <file-preview v-if="editing" type="ogg" :filename="formItem._filename"></file-preview>
                    <file-picker v-else="" v-model="formItem._filename" allowed-types="wavM"></file-picker>
                </td>
                <td v-if="!onlyText"><input type="text" v-model="formItem.TextePod" /></td>
                <td v-if="!onlyText"><file-picker v-model="formItem.DescPod" :allow-empty="true" allowed-types="txt"></file-picker>{{formItem.DescPod}}</td>
                <td v-if="!onlyText"><file-picker v-model="formItem.PhotoPod" :allow-empty="true" allowed-types="webpL"></file-picker>{{formItem.PhotoPod}}</td>
                <td class="centred">
                    <button class="fa fa-check" @click="validate"></button>
                    <button class="fa fa-close" @click="cancel"></button>
                </td>
            </tr>
            <template v-if="serie">
                <tr v-for="simpleName in serie.Episodes" :key="simpleName" >
                    <template v-if="items[simpleName]">
                        <td><file-preview type="ogg" :filename="items[simpleName]._filename"></file-preview></td>
                        <td>
                            <input type="text" v-if="editIndex == simpleName" v-model="items[simpleName].TextePod" />
                            <template v-else="">
                                {{items[simpleName].TextePod}}
                            </template>
                        </td>
                        <td v-if="!onlyText">
                            <file-picker v-if="editIndex == simpleName" v-model="items[simpleName].DescPod" :allow-empty="true" allowed-types="txt"></file-picker>
                            <file-preview v-else="" type="txt" :filename="items[simpleName].DescPod"></file-preview></td>
                        <td v-if="!onlyText">
                            <file-picker v-if="editIndex == simpleName" v-model="items[simpleName].PhotoPod" :allow-empty="true" allowed-types="webpL"></file-picker>
                            <file-preview v-else="" type="png" :filename="items[simpleName].PhotoPod"></file-preview>
                        </td>
                        <td class="centred">
                            <template v-if="editSerie">
                                <button v-on:click="moveEpisode(simpleName, -1)"><span class="fa fa-arrow-up"></span></button>
                                <button v-on:click="moveEpisode(simpleName, 1)"><span class="fa fa-arrow-down"></span></button>
                                <button v-on:click="remove(simpleName)"><span class="fa fa-trash"></span></button>
                            </template>
                            <button v-else-if="editIndex==simpleName" v-on:click="validateEdit(simpleName)"><span class="fa fa-check"></span></button>
                            <button v-else="" v-on:click="editIndex=simpleName"><span class="fa fa-pencil"></span></button>
                        </td>
                    </template>
                </tr>
            </template>
        </table>
        <!--<import-state :force-filter="true" default-filter="pod"></import-state>-->
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'SerieEditor',
  props: {
    serieSimpleName: {type: String, required: true},
    onlyText: {type: Boolean, default: false},
  },
  data: function () { return {
    items: {}, /* Example in the addNew method */
    formItem: null,
    serie: null,
    editSerie: null,
    editIndex: '',
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
        this.items = {}
        this.editing = false
        this.formItem = null
        this.editSerie = null
        this.editIndex = ''
        this.getSerie()
        .then(() => {
            this.getEpisodes()
        })
    },
    getSerie: function () {
        return this.$ficheFetch(this.serieSimpleName)
        .then( fiche => {
            if ( 'Episodes' in fiche)
                /* The following line is a soundbase bug workaround */
                fiche.Episodes = fiche.Episodes.filter((e,i,arr) => arr.findIndex(e2 => e==e2) === i)
            else
                fiche.Episodes = []

            this.serie = fiche
        })
        .catch(error => {
            alert('Erreur à la récupération de la série : ' + error)
        })
    },
    getEpisodes: function () {
        for (const i in this.serie.Episodes) {
            const name = this.serie.Episodes[i]

            this.$ficheFetch(name)
            .then(data => {
                this.$set(this.items, name, data)
            })
            .catch(error => {
                alert('Impossible de récupérer l’épisode ' + name + '. '+error)
            })
        }
    },
    addNew: function () {
        this.formItem = {_filename:'', Mode: 'add', TextePod:'', PhotoPod:'', Serie:this.serie._filename, Type : 'PodcastsStatiques'}
    },
    cancel: function () {
        this.formItem = null
    },
    validate: function () {
        if (this.formItem._filename == '') {
            alert('Vous devez choisir un fichier son.')
            return
        }
        if (!this.editing && this.serie.Episodes.indexOf(this.formItem._filename) >= 0) {
            alert('Ce fichier son est déjà dans la série ! Impossible de l’ajouter…')
            return
        }
        this.$uploadFile(this.formItem._filename, this.formItem, 'pod', false)
        .then(()=>{
            //return this.uploadSerie()
            alert('Ajout terminé avec succès')
            this.init()
        })
        .catch(error => {
            alert('Erreur d’ajout ' + error)
        })

    },
    validateEdit: function (simpleName) {
        this.$uploadFile(simpleName, this.items[simpleName], 'fic', false)
        .then(() => {
            alert('Modification terminée avec succès')
            this.init()
        })
        .catch(error => {
            alert('Erreur de modification ' + error)
        })
    },
    uploadSerie: function () {
        return this.$uploadFile(this.serie._filename, this.serie, 'fic', false)
        .then(() => {
            alert('Mise à jour validée')
            this.init()
        })
        .catch(error => {
            alert('Erreur de modification de la série '+error)
        })
    },
    edit: function (simpleName) {
        this.formItem = this.items[simpleName]
        this.editing = true
    },
    remove: function (simpleName) {
        //if (! confirm('Voulez-vous vraiment supprimer ce podcast ?')) { return }
        this.serie.Episodes = this.serie.Episodes.filter(item => item != simpleName)
        this.uploadSerie()
    },
    startEdition: function () {
        this.editSerie = true
    },
    moveEpisode: function (simpleName, amount) {
        const index = this.serie.Episodes.indexOf(simpleName)
        const newIndex = index + amount
        if (newIndex >= 0 && newIndex < this.serie.Episodes.length && newIndex != index) {
            const temp = this.serie.Episodes[index]
            //this.serie.Episodes[index] = this.serie.Episodes[newIndex]
            //this.serie.Episodes[newIndex] = temp
            this.$set(this.serie.Episodes, index, this.serie.Episodes[newIndex])
            this.$set(this.serie.Episodes, newIndex, temp)
        }
    },
  },
  components: {
    FilePicker,
    FilePreview,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

</style>
