<template>
    <div>
        <button @click="init">
            <span class="fa fa-refresh"></span>
            Tout rafraichir
        </button>
        <h2>Vos séries audio</h2>

        <!-- List existing families -->
        <div v-if="!forced_family">
            <div v-if="families">
              <select v-model="selected_family_index" @change="getSeries">
                <option v-for="(family,family_index) in families" :key="family_index" :value="family_index" >{{family_index}}</option>
              </select>
            </div>
            <p v-else="">
                Il n’y a pas de familles de séries pour le moment ou une erreur nous empêche de les charger…
            </p>
        </div>

        <!-- List existing series within selected family -->
        <div v-if="!forced_serie">
            <div v-if="series">
                <select v-model="selected_serie_index">
                    <option v-for="(serie, serie_index) in series" :key="serie_index" :value="serie_index">{{serie.Auteur}} — {{serie.Titre}}</option>
                </select>
            </div>
            <p v-else="">
                Il n’y a pas de séries pour le moment ou une erreur nous empêche de les charger…
            </p>
        </div>

        <div v-if="selected_serie_index">
            <notre-selection :serie="series[selected_serie_index]"></notre-selection>
        </div>
    </div>
</template>

<script>
import NotreSelection from './NotreSelection.vue'

// TODO serie creation form
export default {
  name: 'SerieSelector',
  props: {
    selected_family_index: {type: String, default: null},
    selected_serie_index: {type:String, default:null},
    forced_family: {type: Boolean, default: false},
    forced_serie: {type: Boolean, default: false},
  },
  data: function () { return {
    families: {'PodcastsStatiques': [], 'Replays': []},
    series: {}, /* simplename : fic content */
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
        this.getFamilies()
    },
    getFamilies: function () {
      /* Get index file and list available index */
      this.$ficheFetch('_series-_index',
        data => {
            for (var family_index in this.families) {
                if (family_index in data) {
                    this.families[family_index] = data[family_index]
                }
            }
        },
        error => {
          alert('Impossible de récupérer l’index des séries : '+error)
        },
        {'_all':' '}
      )
    },
    getSeries: function () {
        this.series = {}
        const family = this.families[this.selected_family_index]
        for (var i in family) {
              const serieName = family[i]
              if (serieName == '') { continue }
              this.$ficheFetch(serieName,
                data => {
                    this.$set(this.series, serieName, data)
                },
                error => {
                    alert('Impossible de récupérer la série '+serieName+' : '+error)
                }
            )
        }
        console.log(this.series)
    },
    remove: function (id) {
        if (! confirm('Voulez-vous vraiment supprimer cette série ?')) { return }
        console.log(id)
    },
  },
  components: {
    NotreSelection,
  }

}
</script>

<style scoped>
input {
    width: 40%;
}

</style>
