<template>
    <div>
        <h2>{{title}}</h2>

        <!-- List existing families -->
        <div v-if="families && !forcedFamily">
          <select v-model="selectedFamilyIndex" @change="getSeries">
            <option v-for="(family,family_index) in families" :key="family_index" :value="family_index" >{{family_index}}</option>
          </select>
        </div>
        <p v-else-if="!selectedFamilyIndex">
            Il n’y a pas de familles de séries pour le moment ou une erreur nous empêche de les charger…
        </p>

        <button @click="init">
            <span class="fa fa-refresh"></span>
            Tout rafraichir
        </button>
        <span v-show="formItem===null && !editMode">
            <button @click="addNew" v-show="formItem === null" ><span class="fa fa-plus"></span>Ajouter</button>
            <button v-on:click="startEdition">
                <span class="fa fa-pencil"></span>
                Modifier cette liste
            </button>
        </span>
        <span v-show="editMode">
            <button v-on:click="uploadSerieIndex">
                <span class="fa fa-check"></span>
                Valider les modifications
            </button>
            <button v-on:click="init">
                <span class="fa fa-close"></span>
                Annuler les modifications
            </button>
        </span>


        <table>
            <tr>
                <th>Nom automatique</th>
                <th>Titre</th>
                <th v-if="!onlyText">Description</th>
                <th v-if="!onlyText">Photo</th>
                <th>Actions</th>
            </tr>
            <tr v-if="formItem != null">
                <td v-if="!formItem._filename"><input type="text" :value="newFilename" disabled="disabled" /></td>
                <td v-else=""><input type="text" :value="formItem._filename" disabled="disabled" /></td>
                <td><input type="text" v-model="formItem.Titre" /></td>
                <td v-if="!onlyText"><file-picker v-model="formItem.Texte" :allow-empty="true" allowed-types="txt"></file-picker></td>
                <td v-if="!onlyText">{{formItem.Photo}}</td>
                <td>
                   <button class="fa fa-check" @click="validate"></button>
                   <button class="fa fa-close" @click="cancel"></button>

                </td>
            </tr>
            <template v-for="simpleName in families[selectedFamilyIndex]" >
                <tr v-if="series[simpleName] && (formItem===null || formItem._filename != simpleName)" :key="simpleName">
                    <td>
						{{simpleName}}
					</td>
                    <td>
                        <template v-if="editIndex == simpleName">
                            <input type="text" v-model="series[simpleName].Titre" />
                        </template>
                        <template v-else="">
                            {{series[simpleName].Titre}}
                        </template>
                    </td>
                    <td v-if="!onlyText">
                        <file-picker v-if="editIndex == simpleName" allowed-types="txt" v-model="series[simpleName].Texte"></file-picker>
                        <file-preview v-else="" type="txt" :filename="series[simpleName].Texte"></file-preview>
                    </td>
                    <td v-if="!onlyText">
                        <file-picker v-if="editIndex == simpleName" allowed-types="webpL" v-model="series[simpleName].Photo"></file-picker>
                        <file-preview v-else="" type="png" :filename="series[simpleName].Photo"></file-preview>
                    </td>
                    <td>
                        <router-link active-class="is-active" class="link" :to="'/serie/'+simpleName+ '/' +onlyText">
                            <button>
                                <span class="fa fa-list-ul"></span>
                                Épisodes
                            </button>
                        </router-link>

                        <template v-if="editMode">
                            <button v-on:click="moveEpisode(simpleName, -1)"><span class="fa fa-arrow-up"></span></button>
                            <button v-on:click="moveEpisode(simpleName, 1)"><span class="fa fa-arrow-down"></span></button>
                            <button v-on:click="remove(simpleName)"><span class="fa fa-trash"></span></button>
                        </template>
                        <template v-else-if="editIndex==simpleName">
                            <button v-on:click="validateEdit(simpleName)" class="f(simpleName)"><span class="fa fa-check"></span></button>
                            <button v-on:click="init()" class="f(simpleName)"><span class="fa fa-close"></span></button>
                        </template>
                        <button v-else="" v-on:click="edit(simpleName)"><span class="fa fa-pencil"></span></button>

                    </td>
                </tr>
            </template>
        </table>
    </div>
</template>

<script>
import {sanitizeFilename} from '../omalib.js'
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'SerieSelector',
  props: {
    defaultFamilyIndex: {type: String, default: null},
    forcedFamily: {type: Boolean, default: false},
    title: {type: String, default: 'Séries'},
    onlyText: {type: Boolean, default: false},
	forcedPrefix: {type: String, default: null},
  },
  data: function () { return {
    selectedFamilyIndex: null,
    families: {},
    series: null, /* simplename : fic content */
    formItem: null,
    editMode: false,
    editIndex: '',
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
        if (this.selectedFamilyIndex == null)
            this.selectedFamilyIndex = this.defaultFamilyIndex
        this.getFamilies()
        this.families = {}
        this.formItem = null
        this.editMode = false
        this.editIndex = ''
    },
    addNew: function () {
        this.formItem = {Nom: '', Titre: '', Episodes: '', Texte: '', Photo:'', Type: this.selectedFamilyIndex}
    },
    cancel: function () {
        this.formItem = null
    },
    validate: function () {
        console.log(this.formItem)
        this.$uploadFile(this.newFilename, this.formItem, 'serie', false)
        .then(() => {
            /* importer takes care of this */
            //this.families[this.selectedFamilyIndex].push(this.newFilename)
            //return this.uploadSerieIndex()
            this.init()
            alert('Série ajoutée avec succes')
        })
        .catch(error => {
            alert('Erreur lors de l’envoi de la série : ' + error)
        })
    },
    validateEdit: function (simpleName) {
        this.$uploadFile(this.series[simpleName]._filename, this.series[simpleName], 'fic', false)
        .then(() => {
            this.init()
            alert('Série modifiée avec succes')
        })
        .catch(error => {
            alert('Erreur lors de l’envoi de la série : ' + error)
        })
    },
    uploadSerieIndex: function () {
        const content = {}
        content[this.selectedFamilyIndex] = this.families[this.selectedFamilyIndex]
        return this.$uploadFile('_series-_index', content,'fic', false)
        .then(() => {
            this.init()
        })
        .catch(error => {
            alert('Erreur lors de l’envoi de l’index : ' + error)
        })
    },
    getFamilies: function () {
        /* Get index file and list available index */
        this.$ficheFetch('_series-_index', {'_all':' '})
        .then(data => {
            this.families = data
            if (this.selectedFamilyIndex) {
                this.getSeries()
            }
        })
        .catch(error => {
          alert('Impossible de récupérer l’index des séries : '+error)
        })
    },
    getSeries: function () {
        this.series = {}
        const family = this.families[this.selectedFamilyIndex]
        for (var i in family) {
            const serieName = family[i]
            if (serieName == '') { continue }
            this.$ficheFetch(serieName)
            .then(data => {
                this.$set(this.series, serieName, data)
            })
            .catch(error => {
                alert('Impossible de récupérer la série '+serieName+' : '+error)
            })
        }
    },
    edit: function (simpleName) {
        this.editIndex = simpleName
    },
    remove: function (simpleName) {
        this.families[this.selectedFamilyIndex] = this.families[this.selectedFamilyIndex].filter(item => item != simpleName)
    },
    startEdition: function () {
        this.editMode = true
    },
    moveEpisode: function (simpleName, amount) {
        const list = this.families[this.selectedFamilyIndex]
        const index = list.indexOf(simpleName)
        const newIndex = index + amount
        if (newIndex >= 0 && newIndex < list.length && newIndex != index) {
            const temp = list[index]
            this.$set(list, index, list[newIndex])
            this.$set(list, newIndex, temp)
        }
    },

  },
  computed: {
    newFilename: function () {
        return this.prefix + '-' + sanitizeFilename(this.formItem.Titre)
    },
	prefix: function () {
		return this.forcedPrefix || this.defaultFamilyIndex
	},
  },
  components: {
    FilePicker,
    FilePreview,
  },
}
</script>

<style scoped>
input {
    width: 40%;
}

</style>
