<template>
    <div>
        <h3>Sauvegardes de la base de son</h3>
        <button @click="getStatus(true)"><span class="fa fa-refresh"></span>Actualiser les dates</button>
        <p>{{message}}</p>
        <table v-if="!broken">
        <tr>
            <th>Dossier</th>
            <th>Dernière sauvegarde</th>
        </tr>
        <tr v-for="(last,id) in items" :key="id">
            <td>{{id}}</td>
            <td>{{last}}</td>
        </tr>
        </table>
    </div>
</template>

<script>

export default {
  name: 'SyncThingsStatus',
  props: {
  },
  data: function () { return {
    items: {},
    message: '',
	broken: false,
  }},
  created: function () {
    this.getStatus()
  },
  methods: {
    getStatus: function(force=false) {
        var f = force ? 'force' : 'noforce'
        this.$apiFetch('/api/syncthings/status/'+f, {},
            data => {
                this.items = data
                for (var k in this.items) {
                    var d = new Date(this.items[k])
                    this.items[k] = d.toLocaleDateString() + ' à ' + d.toLocaleTimeString()
                }
            },
            () => {
              this.broken = true
              this.message = 'Données de sauvegarde indisponibles';
            }
        )
    },
  },
  components: {
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
