<template>
    <div>
        <button @click="init">
            <span class="fa fa-refresh"></span>
            Tout rafraichir
        </button>
        <h2>Temps forts</h2>
        <button v-show="formItem === null" v-on:click="addNew">
            <span class="fa fa-plus"></span>
            Ajouter un temps fort
        </button>
        <table>
            <tr class="underline">
                <th>Temps</th>
                <th>Texte</th>
                <th>Image</th>
                <th class="centred">Actions</th>
            </tr>
            <tr v-if="formItem !== null">
                <!--<td><input type="checkbox" v-model="element.enabled" /></td>-->
                <td><input type="number" v-model="formItem.Temps" /></td>
                <td><input type="text" v-model="formItem.Texte" /></td>
                <td><file-picker v-model="formItem.Photo" default-type="webpL"></file-picker>{{formItem.Photo}}</td>
                <td class="centred">
                    <button class="fa fa-check" @click="validate"></button>
                    <button class="fa fa-close" @click="cancel"></button>
                </td>
            </tr>
                <tr v-for="item in items" :key="item.Temps">
                    <!--<td><input type="checkbox" v-model="item.enabled" /></td>-->
                    <td>{{item.Temps}}</td>
                    <td>{{item.Texte}}</td>
                    <td><file-preview type="png" :filename="item.Photo"></file-preview></td>
                    <td class="centred">
                        <button v-on:click="remove(item.Temps)">Supprimer</button>
                    </td>
                </tr>
        </table>
        <import-state :force-filter="true" default-filter="pod"></import-state>
    </div>
</template>

<script>
import FilePicker from './FilePicker.vue'
import FilePreview from './FilePreview.vue'

export default {
  name: 'TempsForts',
  props: {
    baseUrl: {type: String, default: ''},
  },
  data: function () { return {
    items: [], /* Example in the addNew method */
    formItem: null,
    waiting: null,
    imports: {},
  }},
  created: function () {
    this.init()
  },
  methods: {
    init: function () {
        this.getTempsForts()
        this.formItem = null
    },
    getTempsForts: function () {
        this.$fileFetch(this.baseUrl+'/statique/Replays-Statiques.json', {}, true,
            data => {
                this.items = JSON.parse(data)
            },
            error => {
              alert('Impossible de récupérer la sélection: '+error)
              this.items = {}
            }
        )
    },
    addNew: function () {
        this.formItem = {Temps:'', Texte:'', Photo:''}
    },
    cancel: function () {
        this.formItem = null
    },
    validate: function () {
        if (this.formItem.Temps== '') {
            alert('Vous devez choisir un temps.')
            return
        }
        if (this.formItem.Texte== '') {
            alert('Vous devez choisir un texte.')
            return
        }
        this.$apiFetch('/api/tempsforts', {method:'post', body:JSON.stringify(this.formItem)},
            () => {
                alert('Le temps fort est ajouté.')
                this.init()
            },
            error => {
                alert('Ajout du temps fort impossible ' + error)
            }
        )
    },
    remove: function (temps) {
        if (! confirm('Voulez-vous vraiment supprimer ce podcast ?')) { return }
        this.$apiFetch('/api/tempsforts/'+temps, {method:'delete'},
            () => {
                alert('Le temps fort est supprimé.')
                this.init()
            },
            error => {
                alert('Suppression du temps fort impossible ' + error)
            }
        )
    }
    },
    components: {
    'file-picker': FilePicker,
    'file-preview': FilePreview,
  }

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input {
    width: 90%;
}

</style>
