<template>
    <div>
        <textarea v-bind:value="value" rows="10" @input="$emit('input', $event.target.value)"></textarea>
    </div>
</template>

<script>

export default {
  name: 'TextEditor',
  props: {
    value: {type: String, required: true},
    simpleName: {type: String, default: ''},
  },
  data: function () { return {
  }},
  computed:{
  },
  created: function () {
  },
  methods: {

  },
}
</script>

<style scoped>
</style>
