<template>
    <div>
        <tiny-mce :value="value" @input="$emit('input',$event)"
       :init="{
         height: 500,
         menubar: false,
         entity_encoding: 'raw',
         skin: 'oxide-dark',
         content_css: 'dark',
         plugins: ['lists','link'],
         block_formats: 'Paragraphe=p; Titre 1=h3; Titre 2=h4; Titre 3=h5; Préformaté=pre',
         toolbar:
           'undo redo | formatselect | bold italic underline backcolor link | \
           alignleft aligncenter alignright alignjustify | \
           bullist numlist outdent indent | removeformat | help'
       }"></tiny-mce>
    </div>
</template>

<script>
import "tinymce/tinymce"
import TinyMce from '@tinymce/tinymce-vue'

/* Theme */
import '../../node_modules/tinymce/themes/silver/theme';

/* icons */
import 'tinymce/icons/default'

// Plugins
//import 'tinymce/plugins/fullscreen'
//import 'tinymce/plugins/paste'
//import 'tinymce/plugins/link'

// Skins
//import 'tinymce/skins/ui/oxide-dark/skin.min.css'
//import 'tinymce/skins/ui/oxide-dark/content.min.css'
//import 'tinymce/skins/content/dark/content.min.css'

export default {
  name: 'TinyMce',
  props: {
    value: {type: String, required: true},
  },
  data: function () { return {
  }},
  computed:{
  },
  created: function () {
  },
  methods: {
  },
  components: {
      'tiny-mce': TinyMce,
  },
}
</script>

<style scopped>
.tox button:hover::after, .tox button:hover:active::after {
    opacity: 0;
}
.tox-collection__item-label > * {
   background: none !important;
}
</style>
