<template>
	<div>
		<h2>Ajouter {{types[type].title}}</h2>

		<div v-if="types[type].fields.length != 0">
			<h3>Informations</h3>
			<div v-for="index in types[type].fields" :key="index">
				<label :for="index">{{fields[index].desc}}&nbsp;: </label>
				<select v-if="fields[index].type == 'select'">
					<option v-for="(option, value) in fields[index].options" :value="value" :key="value" :selected="fields[index].value==value">{{option}}</option>
				</select>
				<input v-else="" @blur="blur(index)" :type="fields[index].type" v-model="fields[index].value" />
			</div>
		</div>

		<div v-if="types[type].type != 'all' && types[type].type != 'bulk' && types[type].type != 'bonus'">
			<h3>Nouveau nom</h3>
			<p>Dans la base, le fichier sera nommé&nbsp;: {{newFilename}}</p>
		</div>

		<div v-if="types[type].copyable">
			<h3>Pré-remplissage du fichier</h3>
			<label for="from">Charger la copie d’un fichier existant</label>
			<file-picker v-model="fromFile" :default-type="currentFileType" @input="getFromFile();autofillSimpleName()"></file-picker>
		</div>

		<h3>Création ou modification du contenu</h3>
		<div class="tabbed">
			<nav>
				<button :class="{selected: mode=='upload'}" @click="mode='upload'">Fichier de votre ordinateur</button>
				<button :class="{selected: mode=='text'}" @click="mode='text'" v-if="types[type].type=='lien' || types[type].type=='lst' || types[type].type=='txt' || types[type].type=='fic' || types[type].type=='prg' || types[type].type=='lstBrute'">Édition texte</button>
				<button :class="{selected: mode=='rich'}" @click="mode='rich'" v-if="types[type].type=='txt'">Édition texte riche</button>
				<button :class="{selected: mode=='lien'}" @click="mode='lien'" v-if="types[type].type=='lien'">Édition assistée</button>
				<button :class="{selected: mode=='lst'}" @click="mode='lst'" v-if="types[type].type=='lst'">Édition assistée</button>
				<button :class="{selected: mode=='lstBrute'}" @click="mode='lstBrute'" v-if="types[type].type=='lstBrute'">Édition assistée</button>
			</nav>
			<!-- TODO
			<button @click="mode='url'">url</button>
			<button @click="mode='lien'">Lien</button>
			-->
			<text-editor v-if="mode == 'text'" v-model="content"></text-editor>
			<tiny-mce v-else-if="mode == 'rich'" v-model="content"></tiny-mce>
			<url-setter v-else-if="mode == 'url'" v-model="content"></url-setter>
			<lien-editor v-else-if="mode == 'lien'" v-model="content"></lien-editor>
			<playlist-editor v-else-if="mode == 'lst'" v-model="content"></playlist-editor>
			<lst-brute-editor v-else-if="mode == 'lstBrute'" v-model="content"></lst-brute-editor>
			<div v-else>
				<label for="file">Fichier&nbsp;: </label>
				<!--<input type="file" multiple />-->
				<input type="file" name="file" :id="uploadFileId" @change="autofill($event.target.name, $event.target.files)" :multiple="types[type].multiple"/>
			</div>
		</div>
		<button class="submitbutton" @click="send"><span class="fa fa-check"></span>Envoyer dans la base</button>

	</div>
</template>

<script>
import TextEditor from './TextEditor.vue'
import LienEditor from './LienEditor.vue'
import PlaylistEditor from './PlaylistEditor.vue'
import LstBruteEditor from './LstBruteEditor.vue'
import UrlSetter from './UrlSetter.vue'
import TinyMce from './TinyMce.vue'
import FilePicker from './FilePicker.vue'
import {sanitizeFilename} from '../omalib.js'

export default {
  name: 'Uploader',
  props: {
	type: {type: String, required: true},
  },
  data: function () { return {
	fields: null,
	types: null,
	mode: '',
	content: '',
	fromFile: '',
	uploadFileId: 'omafileupload',
  }},
  computed: {
	newFilename: function () {
		return sanitizeFilename(this.fields.Author.value) + '-' + sanitizeFilename(this.fields.Title.value)
	},
	currentFileType: function () {
		const t = this.types[this.type].type
		return t == 'lstBrute' ? 'lst' : t
	},
  },
  created: function () {
	this.init()
  },
  beforeRouteUpdate: function (to, from, next) {
	this.init()
	next()
  },
  methods: {
	init: function () {
		this.mode = 'upload'
		this.content = ''
		this.content = ''
		this.fromFile = ''
		if (this.currentUploadField()) {
			this.currentUploadField().value = ''
		}
		this.fields = {
			Author: {
				type: 'text',
				desc: 'Auteurice',
				value: '',
				blured: false,
				ficLine: 'Tag1	: 240 32768 {"A":"%%%%%"},',
			},
			Title: {
				type: 'text',
				desc: 'Titre',
				value: '',
				blured: false,
				ficLine: 'Tag2	: 250 32768 {"T":"%%%%%"},',
			},
			Date: {
				type: 'date',
				desc: 'Date de création',
				value: '',
				blured: false,
			},
			Licence: {
				type: 'select',
				options: {'': 'Inconnue', 'c': 'Copyrigth', 'cc':'Creative Commons'},
				value: '',
				desc: 'Licence'
			},
			WavQ: {
				type: 'select',
				options: {'high': 'Haute', 'medium':'Moyenne', 'low':'Low'},
				value: 'medium',
				desc: 'Qualité du fichier'
			},
			ExpressionFrancaise: {
				type: 'checkbox',
				value: false,
				desc: 'Musique d’expression Française'
			},
			Description: {
				type: 'text',
				value: '',
				desc: 'Description'
			},
			Participants:{
				type: 'text',
				value: '',
				desc: 'Participants (noms séparés par des points-virgules, rôles entre parenthèses)'
				//TODO multiple fields
			},
		}
		this.types = {
			music: {
				title: 'une musique',
				extensions: ['ogg','mp3','wav','wma'],
				fields: ['Author', 'Title', 'Licence', 'WavQ', 'ExpressionFrancaise', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'wav',
				genfic: true,
			},
			emission: {
				title: 'une emission',
				extensions: ['ogg','mp3','wav','wma'],
				fields: ['Author', 'Title', 'Licence', 'WavQ', 'Participants', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'wav',
				genfic: true,
			},
			text: {
				title: 'un texte',
				extensions: ['txt'],
				fields: ['Author', 'Title', 'Licence', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'txt',
				copyable: true,
				genfic: true,
			},
			picture: {
				title: 'une image',
				extensions: ['jpg', 'png','jpeg'],
				fields: ['Author', 'Title', 'Licence', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'png',
				genfic: true,
			},
			bonus: {
				title: 'un bonus (format spécifique à oma-radio)',
				extensions: ['bonus', 'zip'],
				fields: [],
				mandatory: [],
				type: 'all',
				replacable: true,
			},
			playlist: {
				title: 'une playlist',
				extensions: ['lst'],
				fields: ['Author', 'Title', 'Licence', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'lst',
				copyable: true,
				genfic: true,
			},
			playlistBrute: {
				title: 'une playlist brute',
				extensions: ['lstBrute'],
				fields: ['Author', 'Title', 'Licence', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'lstBrute',
				copyable: true,
				genfic: true,
			},
			fiche: {
				title: 'une fiche',
				extensions: ['fic'],
				fields: ['Author', 'Title', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'fic',
				replacable: true,
				copyable: true,
			},
			program: {
				title: 'un programme',
				extensions: ['prg'],
				fields: ['Author', 'Title', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'prg',
				copyable: true,
			},
			lien: {
				title: 'un lien',
				extensions: ['lien'],
				fields: ['Author', 'Title', 'Date'],
				mandatory: ['Author', 'Title'],
				type: 'lien',
				replacable: true,
				copyable: true,
			},
			bulk: {
				title: 'plusieurs fichiers. Ils doivent être parfaitement nommés.',
				extensions: ['ogg', 'mp3', 'wav', 'wma', 'png', 'jpg', 'lien', 'fic', 'lst', 'lstBrute', 'bonus', 'prg'],
				type: 'all',
				mandatory: [],
				replacable: true,
				multiple: true,
			},
		}
		if (! (this.type in this.types)) { console.error('Bad type for Uploader component: '+this.type) }
	},
	currentUploadField: function () {
		return document.getElementById(this.uploadFileId)
	},
	checkMandatoriesFields: function () {
		for (var index in this.types[this.type].fields) {
			var field = this.types[this.type].fields[index]
			if (this.types[this.type].mandatory.indexOf(field) != -1 && this.fields[field].value == '') {
				alert('Vous devez remplir le champs ' + field)
				return false
			}
		}
		return true
	},
	send: function () {
		if (!this.checkMandatoriesFields()) { return }
		//TODO multiple files
		/* Checks and computation */
		var fileToUpload = null
		var extention = null
		if (this.mode == 'upload') {
			var input = this.currentUploadField()
			var filename = input.files[0].name.split('.')
			extention = filename[filename.length-1]
			if (extention.endsWith('In')) {
				extention = extention.slice(0,-2)
			}
			if (this.types[this.type].extensions.indexOf(extention) == -1) {
				if (! confirm('L’extention '+extention+' n’est pas autorisée pour ce type de fichier. On attend : ' + this.types[this.type].extensions + '. Voulez vous l’envoyer quand même ?'))
					return

			}
			fileToUpload = [input.files[0]]
		} else if (this.mode == 'text' || this.mode == 'rich' || this.mode == 'lst' || this.mode == 'lien' || this.mode == 'lstBrute') {
			fileToUpload = [this.content]
			extention = this.types[this.type].extensions[0]
		} else if (this.mode == 'url') {
			fileToUpload = []
			extention = this.types[this.type].extensions[0]
		} else {
			console.error('Bad mode: ' + this.mode)
			return
		}

		/* Actual send */
		this._sendFileAndFic(this.newFilename, fileToUpload, extention)

	},
	_sendFileAndFic: function (simpleName, content, extention) {
		this.$uploadFile(simpleName, content, extention, true)
		.then(() => {
			/* We upload the fic */
			if (this.types[this.type].genfic) {
				this._sendFic(simpleName, false)
			}
		})
		.catch(error => {
			alert("Erreur d’envoi du fichier : " + error)
		})
	},
	_sendFic: function (simpleName, warn=true) {
		var fiche = ''
		for (var index in this.types[this.type].fields) {
			var field = this.types[this.type].fields[index]
			if ('ficLine' in this.fields[field]) {
				fiche += this.fields[field].ficLine.replace('%%%%%', this.fields[field].value)+'\n'
			} else if (this.fields[field].value) {
				fiche += field + ' : ' + this.fields[field].value + '\n'
			}
		}
		this.$uploadFile(simpleName, fiche, 'fic', warn)
		.then(()=>{
			alert('Fichier envoyé')
			this.init()
		})
		.catch((error)=>{
			alert('Erreur d’envoi de la fiche : '+error)
		})
	},
	// TODO hint user about autofill functionnalitry
	autofill: function (fieldName, fileList) {
		if (this.fields.Author.blur || this.fields.Title.blur) { return }
		var filename = fileList[0].name.split('.').slice(0,-1).join('.')
		var parts = filename.split('-')
		if ( parts.length >= 2 ) {
			this.fields.Author.value = parts[0].trim()
			this.fields.Title.value = parts.slice(1).join('_').trim()
		} else {
			this.fields.Title.value = filename
		}
	},
	autofillSimpleName: function () {
		if (this.fields.Author.blur || this.fields.Title.blur) { return }
		var parts = this.fromFile.split('-')
		this.fields.Author.value = parts[0]
		this.fields.Title.value = parts[1]
	},
	blur: function (field) {
		this.fields[field].blur = true
	},
	getFromFile: function () {
		this.$fileFetch('/' + this.currentFileType + '/' + this.fromFile + '.' + this.currentFileType, {}, false)
		.then(data => {
			this.content = data
		})
		.catch(error => {
			alert('Impossible de récupérer le fichier ' + this.fromFile + '. Erreur : ' + error)
		})
	},
  },
  components: {
	TextEditor,
	UrlSetter,
	TinyMce,
	LienEditor,
	PlaylistEditor,
	FilePicker,
	LstBruteEditor,
  }
}
</script>

<style scoped>
.tabbed {
	width: max-content;
}
.tabbed nav button {
	border-radius: 0;
	margin-left: -1px;
	margin-right: 0;
}
.tabbed nav button:first-child {
	margin-left: 0;
}
.tabbed > div {
	border: 1px solid rgba(255,255,255,0.25);
	padding:5px;
	margin-bottom: 10px;
}
.dabbed nav button::after {
	border-radius: 0;
}
</style>
