<template>
    <div>
        <input type="text" :value="value" @input="$emit('input', $event.target.value)" />
    </div>
</template>

<script>

export default {
  name: 'TextEditor',
  props: {
    value: {type: String, required: true}
  },
  data: function () { return {
  }},
  created: function () {

  },
  methods: {
  },
}
</script>

<style scoped>
</style>
