<template>
    <div>
        <h2>Gestion des utilisateur·ice·s</h2>
        <oma-popup>
            <template v-slot:clickable>
                <button><span class="fa fa-cross"></span>Ajouter une personne</button>
            </template>
            <template v-slot:title>
                <h2>Ajouter une personne</h2>
            </template>
            <form @submit="adduser">
                <label for="username">Nom</label>
                <input v-model="nuser.username" name="username" />

                <label for="password">Mot de passe</label>
                <input v-model="nuser.password" name="password" type="password" />

                <label for="group">Groupe</label>
                <select v-model="nuser.group" name="group">
                    <option v-for="(text,group) in groups" :key="group" :value="group">{{text}}</option>
                </select>

                <button>Valider</button>
            </form>
        </oma-popup>
        <table>
            <tr>
                <th>Nom</th>
                <th>Groupe</th>
                <th>Actions</th>
            </tr>
            <tr v-for="(group,user) in users" :key="user">
                <td>{{user}}</td>
                <td>{{group}}</td>
                <td>
                    <oma-popup>
                        <template v-slot:clickable>
                            <button><span class="fa fa-lock"></span>Changer le mot de passe</button>
                        </template>
                        <template v-slot:title>
                            <h2>Changer le mot de passe de {{user}}</h2>
                        </template>
                        <form @submit="(e) => {change_pass(user) ; e.preventDefault()}">
                            <label for="newpassword">Nouveau mot de passe</label>
                            <input name="newpassword" type="password" v-model="newpassword" />
                            <button>Valider</button>
                        </form>
                    </oma-popup>
                    <button @click="remove(user)"><span class="fa fa-bin"></span>Supprimer</button>
                </td>
            </tr>
        </table>
    </div>
</template>

<script>
import OmaPopup from './OmaPopup.vue'
export default {
  name: 'Users',
  props: {
  },
  data: function () { return {
    users: {},
    nuser: {'username': '', 'password': '', group:'users'},
    groups: [],
    newpassword: '',
  }},
  created: function () {
    this.getUsers()
    this.getGroups()
  },
  methods: {
    getGroups: function() {
        this.groups = {'users':'Utilisateurs', 'admins':'Administrateurs'}
    },
    getUsers: function() {
      this.$apiFetch('/api/user', {},
          data => {
            this.users = data
          },
          error => {
            console.error('There has been a problem with your fetch operation:', error);
          }
      )
    },
    adduser: function(e) {
        this.$apiFetch('/api/user', {method:'post', body:JSON.stringify(this.nuser)},
            () => {
                this.getUsers()
                alert('Le compte a été ajouté')
                this.nuser.username = ''
                this.nuser.password = ''
                this.nuser.group = 'users'
            },
            error => {
              alert('Erreur : ' + error);
            }
        )
        e.preventDefault();
    },
    remove: function(user) {
        this.$apiFetch('/api/user', {method:'delete', body:JSON.stringify({username:user})},
            () => {
                this.getUsers()
                alert('Le compte a été supprimé')
            },
            error => {
              alert('Erreur : ' + error);
            }
        )
    },
    change_pass: function (user) {
        if (!this.newpassword) {
            alert('Vous devez saisir un nouveau mot de passe.')
        } else {
            this.$apiFetch('/api/user/password', {method:'put', body:JSON.stringify({username:user, password:this.newpassword})},
                () => {
                    alert('Le mot de passe a été changé.')
                },
                error => {
                    alert('Erreur : ' + error);
                }
            )
        }
    },
  },
  components: {
    'oma-popup': OmaPopup,
  },
}
</script>

<style scoped>
</style>
