<template>
    <fic-edit></fic-edit>
</template>
<script>
import FicEdit from './FicEdit'
    export default {
        data: {
        },
        components:{
            'fic-edit': FicEdit,
        },
    }
</script>
