<template>
   <div>
     <h2>Constructeur d’émission</h2>
     <h3>Fichier son de l’émission</h3>
     <oma-item-sound v-bind:object="main_item"></oma-item-sound>
     <div>
         <h3>Éléments contextuels</h3>
         <button @click="addContextualItem" title="Ajouter un élément" class="fa-button"><i class="fa fa-plus"></i></button>
         <button @click="sortContextualsItems">Trier par temps d’apparition</button>
         <item-template v-on:delete-item="deleteItem($event)" v-for="item in contextual_items" :key="item.txt" :item="item"></item-template>
     </div>
     <button @click="sendAll">Valider</button>
   </div>
</template>

<script>
import {OmaItemTimedReference, OmaItemSound} from './omaClasses.js'
import ItemTemplate from './ItemTemplate.vue'
import ItemSoundTemplate from './ItemSoundTemplate.vue'

/* Component that handle an emission composition */
export default {
    data: function () { return {
        main_item: new OmaItemSound(),
        contextual_items: [],
    }},
    methods: {
        addContextualItem: function (event) {
            event.preventDefault()
            this.contextual_items.unshift(new OmaItemTimedReference())
        },
        sortContextualsItems () {
            this.contextual_items.sort(function (a,b) {
                return a.beginTime - b.beginTime
            })
        },
        generateMainFicMsg: function () {
            this.sortContextualsItems()
            var ficContent = {}
            var tagTime = []
            for (var index in this.contextual_items) {
                var item = this.contextual_items[index]
                if (item._type == null) { continue }
                var ficMsg = item.getFicMsg()
                if (!ficMsg) { continue }

                var tagName = 'Tag'+ficMsg.beginTime
                while (tagName in ficContent) { /* Because jukebox can’t have two same tags */
                    ficMsg.beginTime += 1
                    tagName = 'Tag'+ficMsg.beginTime
                }
                ficContent[tagName] = 'Msg-' + ficMsg.ref + '_' + ficMsg.duration + '_' + ficMsg.content
                tagTime.push(ficMsg.beginTime)
            }
            if (tagTime.length > 0) {
                ficContent['TagTime'] = tagTime.join('_')
            }
            return ficContent
        },
        sendAll: function () {
            for (index in this.contextual_items) {
                if (this.contextual_items[index].editing) {
                    alert('Merci de valider tous les éléments avant d’effectuer l’envoi')
                    return;
                }
            }
            if (! this.main_item.isValid()) { return }
            if (!confirm('Etes-vous certain d’avoir bien complété chaque champs ? Ils ne seront plus modifiable ensuite')) { return }
            for (var index in this.contextual_items) {
                var contextualItem = this.contextual_items[index]
                if (contextualItem._type == 'OmaItemText' || contextualItem._type == null) { continue }
                
                /* Actually send */
                contextualItem.getObject().send(this.sendMainItem)
            }
            this.sendMainItem() /* Will work only if there is no contextual items. Otherwise there would be uploading */
        },
        sendMainItem () {
            if (! this.main_item.isValid()) { return }
            for (var index in this.contextual_items) {
                if (this.contextual_items[index].getObject().existsInBase == false) {
                    return;
                }
            }
            this.main_item.send(null, this.generateMainFicMsg())
        },
        deleteItem (item) {
            if (item._type == null || confirm('Etes-vous sûr de vouloir supprimer cet élément ?'))
                this.contextual_items.splice(this.contextual_items.indexOf(item), 1)
        }
    },
    components: {
        'item-template': ItemTemplate,
        'oma-item-sound': ItemSoundTemplate,
    }
}
</script>
