<template>
    <fieldset>
        <oma-item-common v-bind:object="object"></oma-item-common>
        <div>
            <div>
                <label for="quality">Qualité du son</label>
                <select name="quality" :value="object.quality">
                  <option value="High">High</option>
                </select>
            </div>
        </div>
    </fieldset>
</template>

<script>
import {OmaItemSound} from './omaClasses.js'
import ItemCommonTemplate from './ItemCommonTemplate.vue'
/* Component that handle a sound item definition */
export default {
    props: {
        object: OmaItemSound,
    },
    components: {
        'oma-item-common': ItemCommonTemplate,
    }
}
</script>
