<template>
    <fieldset v-bind:class="{itemtemplate: true, editing: item.editing }">
        <div v-if="item.editing">
            <p v-if="!item._type">Choisir le type d’élément contextuel</p>
            <select v-model="item._type" v-if="item._fixed_type">
                <option :value="item._fixed_type">{{item._valid_types[item._fixed_type].text}}</option>
            </select>
            <select v-model="item._type" v-else="">
                <option v-for="(value,key) in item._valid_types" :value="key" :key="key">{{value.text}}</option>
            </select>
            <div v-for="value in objects" :key="value">
                <h4>{{value.htmlSectionTitle}}</h4>
                <fieldset>
                    <div>
                        <div>
                            <label for="beginTime">Moment d’apparition de cet élément. En secondes à partir du début de l’émission.</label>
                            <input type="number" min="0" name="beginTime" v-model="item.beginTime" />
                        </div>
                        <div>
                            <label for="duration">Durée d’affichage de cet élément en secondes.</label>
                            <input type="number" min="0" name="duration" v-model="item.duration" />
                        </div>
                    </div>
                </fieldset>
                <oma-item-sound v-if="item._type=='OmaItemSound'" v-bind:object="item.objects['OmaItemSound']" ></oma-item-sound>
                <oma-item-image v-if="item._type=='OmaItemImage'" v-bind:object="item.objects['OmaItemImage']" ></oma-item-image>
                <oma-item-file v-if="item._type=='OmaItemFile'" v-bind:object="item.objects['OmaItemFile']" ></oma-item-file>
                <oma-item-text v-if="item._type=='OmaItemText'" v-bind:object="item.objects['OmaItemText']" ></oma-item-text>
            </div>
        </div>
        <div v-else="" class="itemList">
            <p>{{item.getTypeString()}} à {{item.beginTime}} secondes : {{item.getObject().getShortString()}}</p>
        </div>
        <div class="editionbuttons">
            <button v-if="item._type!=null && item.editing"  @click="item.editing=!item.getObject().isValid()" title="Valider l’élément"><i class="fa fa-check"></i></button>
            <button v-if="item._type && item.getObject().sent!='new' && !item.editing" @click="item.editing=true" title="Modifier l’élément"><i class="fa fa-pencil"></i></button>
            <button v-if="!item.isNew()" @click="$emit('delete-item', item)" title="Supprimer l’élément"><i class="fa fa-trash"></i></button>
        </div>
        <div v-if="item._type && item.getObject().sent=='new'">Élément envoyé dans la base&nbsp;!</div>

    </fieldset>
</template>

<script>
import ItemSoundTemplate from './ItemSoundTemplate.vue'
import ItemImageTemplate from './ItemImageTemplate.vue'
import ItemFileTemplate from './ItemFileTemplate.vue'
import ItemTextTemplate from './ItemTextTemplate.vue'
import {OmaItemTimedReference} from './omaClasses.js'

    /* Component that handle a generic item definition */
    export default {
        props: {
            item: OmaItemTimedReference,
        },
        template: `
    
        `,
        components: {
            'oma-item-sound': ItemSoundTemplate,
            'oma-item-image': ItemImageTemplate,
            'oma-item-file': ItemFileTemplate,
            'oma-item-text': ItemTextTemplate,
        },
        computed: {
            'objects': function () {
                return this.item.objects.filter((key) => {key == this.item._type})
            }
        },
    }
</script>
