<template>
    <fieldset>
        <div>
            <label for="messageContent">Contenu du message</label>
            <input type="text" name="messageContent" v-model="object.content" />
        </div>
    </fieldset>
</template>

<script>
import {OmaItemText} from './omaClasses.js'
    /* Component that handle a text item definition */
    export default {
        props: {
            object: OmaItemText,
        },
    }
</script>
