<template>
    <div>
        <div>
            <label for="title">Titre*</label>
            <input name="title" type="text" v-model="object.title" />
        </div>
        <div>
            <label for="author">Auteur*</label>
            <input name="author" type="text" v-model="object.author" />
        </div>
        <template v-if="object.existsInBase != true">
            <div>
                <label for="licence">Licence</label>
                <input name="licence" type="text" v-model="object.licence" />
            </div>
            <div>
                <label for="file">Fichier</label>
                <input type="file" name="file" @change="filesChange($event.target.name, $event.target.files)"/>
            </div>
        </template>
        <p v-if="object.existsInBase == true">
            Ce fichier est déjà dans la base de données.
            <button @click="object.existsInBase = false">Je veux en utiliser un nouveau</button>
        </p>
        <p v-if="object.existsInBase == 'new'">Ce fichier vient d’être ajouté à la base de donnée.</p>
    </div>
</template>

<script>
/* Component that handle a simple oma-base item (ie common for any file stored) 
 * Edit the following properties of object:
 * - title
 * - author
 * - licence
 */
export default {
    props: {
        object: Object,
    },
    methods: {
        filesChange(fieldName, fileList) {
            if (!fileList.length) return;
            this.object.file = fileList[0]
        }
    },
}

</script>
