<template>
    <fieldset>
        <oma-item-common v-bind:object="object"></oma-item-common>
    </fieldset>
</template>

<script>
/* Component that handle an image item definition */
import {OmaItemImage} from './omaClasses.js'
import ItemCommonTemplate from './ItemCommonTemplate.vue'
export default{
    props: {
        object: OmaItemImage,
    },
    components: {
        'oma-item-common': ItemCommonTemplate,
    }
}
</script>
