<template>
    <fieldset>
    <oma-item-common v-bind:object="object"></oma-item-common>
    </fieldset>
</template>

<script>
import {OmaItemFile} from './omaClasses.js'
import ItemCommonTemplate from './ItemCommonTemplate.vue'
    /* Component that handle a file item definition */
    export default {
        props: {
            object: OmaItemFile,
        },
        template: `
        `,
        components: {
            'oma-item-common': ItemCommonTemplate,
        }
    }
</script>
