<template>
<div>
    <loading></loading>
    <header>
        <h1>Gestion de votre radio</h1>
    </header>
    <aside>
        <nav id="menu">
            <ul class="flex">
                <li>
                    <button><h3>Ajouts de fichiers</h3></button>
                    <ul>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/music'">Ajouter une musique</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/emission'">Ajouter une émission</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/picture'">Ajouter une image</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/text'">Ajouter un texte</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/playlist'">Ajouter une playlist</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/playlistBrute'">Ajouter une playlist brute</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/lien'">Ajouter un lien</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/upload/fiche'">Ajouter une fiche</router-link></li>
                        <!--<li><router-link active-class="is-active" class="link" :to="'/upload/program'">Ajouter un programme</router-link></li>-->
                        <li><router-link active-class="is-active" class="link" :to="'/upload/bonus'">Ajouter un bonus</router-link></li>
                        <!--<li><router-link active-class="is-active" class="link" :to="'/upload/bulk'">Ajouter plusieurs fichiers</router-link></li>-->
                    </ul>
                </li>
                <li>
                    <button><h3>Gestion des fichiers</h3></button>
                    <ul>
                        <li><router-link active-class="is-active" class="link" :to="'/import-state'">Voir les ajouts en cours</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/download'">Télécharger ou voir un fichier</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/extract-pige'">Extraire un morceau de replay</router-link></li>
                    </ul>
                </li>
                <li>
                    <button><h3>Gestion du site</h3></button>
                    <ul>
                        <li><router-link active-class="is-active" class="link" :to="'/customize'">Personnaliser la page d’accueil</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/PagesStatiques'">Personnaliser vos pages</router-link></li>
                        <!--<li><router-link active-class="is-active" class="link" :to="'/tempsforts'">Les temps forts</router-link></li>-->
                        <li><router-link active-class="is-active" class="link" :to="'/series/PodcastsStatiques'">Vos séries</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/series/Categories'">Vos catégories</router-link></li>
                        <!--<li><router-link active-class="is-active" class="link" :to="'/directfile'">Ajouter un fichier au direct</router-link></li>-->
                    </ul>
                </li>
                <li v-if="groups.indexOf('admin') >=0">
                    <li>
                        <button><h3>Programmation</h3></button>
                        <ul>
                            <li><router-link active-class="is-active" class="link" :to="'/programation/emissions'">Grille</router-link></li>
                            <li><router-link active-class="is-active" class="link" :to="'/programation/tops'">Tops Horaires</router-link></li>
                            <li><router-link active-class="is-active" class="link" :to="'/programation/jinglesContextuels'">Jingles contextuels</router-link></li>
                            <li><router-link active-class="is-active" class="link" :to="'/programation/liens'">Liens</router-link></li>
                            <li><router-link active-class="is-active" class="link" :to="'/programation/playlists'">Playlists pour meubler</router-link></li>
                        </ul>
                    </li>
                    <li>
                    <button><h3>Outils système</h3></button>
                    <ul>
                        <li><router-link active-class="is-active" class="link" :to="'/logs'">Logs de fonctionnement</router-link></li>
                        <!--<li><router-link active-class="is-active" class="link" :to="'/pigetext'">Pige texte</router-link></li>-->
                        <li><router-link active-class="is-active" class="link" :to="'/pigeogg'">Pige audio</router-link></li>
                        <li><router-link active-class="is-active" class="link" :to="'/config'">Fichiers de configuration</router-link></li>
                        <!--<li><router-link active-class="is-active" class="link" :to="'/users'">Utilisatrices et utilisateurs</router-link></li>-->
						<li><a href="/status.xsl">Statistiques d’écoute</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </aside>
    <main>
        <section>
            <router-view :key="$route.path"></router-view>
        </section>
    </main>
</div>
</template>

<script>
    //import AuthLogin from './auth/AuthLogin.vue'
    import Loading from './components/Loading.vue'
    export default {
        name: 'app',
        data: function () { return {
            username: '',
            groups: '',
        }},
        created: function () {
            setTimeout(this.getUserInfo, 1000)
        },
        methods: {
            getUserInfo: function () {
                if (this.$apiFetch === undefined) {
                    setTimeout(this.getUserInfo, 1000)
                } else {
                    this.$apiFetch('/api/whoami', {})
                    .then( data => {
                        this.username = data.username
                        this.groups = data.group
                    })
                    .catch (error => {
                        alert(error)
                    })
                }
            },
            logout () {
                /* Log with invalid credentials */
                var url = window.location.toString().split('://')
                window.location = url[0] + '://:12345@' + url[1]
            },
        },
        components:{
            'loading': Loading,
        },
    }
</script>

<style scoped>
  /*@import './assets/css/main.css';*/
  main {
    padding: 10px 10px 0 10px;
  }
  li.no-decoration {
    list-style: none;
  }
  a {
    cursor: pointer;
  }
  ul.flex {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }

  nav > ul > li {
    list-style: none;
  }
</style>
