<template>
<div>
    <form v-on:submit.prevent="getConfigs">
        <label for="instance">Service</label>
        <select name="instance" v-model="instance">
            <option v-for="option in instances" :value="option" :key="option">
              {{ option }}
            </option>
        </select>
        <br />
        <input type="submit" value="Voir la config"/>
    </form>
    <div v-if="content">
        <h3>Configuration de {{ instance }}</h3>
        <pre>{{ content }}</pre>
    </div>
</div>
</template>

<script>

export default {
    data: function () { return {
        instance: '',
        instances: [],
        content: '',
        api_prefix: '/api/',
    }},
    created () {
        this.getInstances()
    },
    methods: {
        getInstances () {
            this.instance = null;
            this.$apiFetch('/api/instances', {},
                data => {
                    this.instances = data
                    if (this.instances.length > 0)
                        this.instance = this.instances[0]
                },
                error => {
                  alert('Impossible de récupérer la liste des instances : '+error)
                }
            )
        },
        getConfigs () {
            this.$apiFetch('/api/configs/'+this.instance, {},
                data => {
                    this.content = data.content
                },
                error => {
                  alert('Impossible de récupérer la config : '+error)
                }
            )
        }
    },
}
</script>

<style>
.omalog-critical {
    color: red;
}
.omalog-error {
    color: #cc0000;
}
.omalog-warning {
    color: #ffcc00;
}
.omalog-notice {
    color: green;
}
.omalog-info {
    color: green;
}
.omalog-tele {
    color: #0000cc;
}
.omalog-debug {
    color: blue;
}
</style>
