<template>
<div class="light">
    <p>Les dates sont au format yyyy-mm-dd hh:mm:ss ou des entiers (positifs ou négatifs) représentant le moment présent plus ou moins ce nombre d’heure</p>
    <form v-on:submit.prevent="getLogs">
        <label for="begin">Début (yyyy-mm-dd hh:mm:ss ou ±N)</label>
        <input type="text" name="begin" v-model="begin" />
        <br/>
        <label for="end">Fin (yyyy-mm-dd hh:mm:ss ou ±N)</label>
        <input type="text" name="end" v-model="end" />
        <br/>
        <label for="instance">Service</label>
        <select name="instance" v-model="instance">
            <option disabled value="">Choisissez une instance</option>
            <option v-for="option in instances" :value="option" :key="option">
              {{ option }}
            </option>
        </select>
        <br />
        <input type="submit" value="Voir le log"/>
    </form>
    <pre><p style="margin:0;" :class="'omalog-'+log.level" v-for="log in logs" :key="log.id">{{log.text}}</p></pre>
</div>
</template>

<script>


export default {
    data: function () { return {
        instance: '',
        instances: [],
        logs: [],
        begin: '-1',
        end: '0',
    }},
    props: {
    },
    created () {
        this.getInstances()
    },
    methods: {
        getInstances () {
            this.$apiFetch('/api/instances', {})
			.then(data => {
				this.instances = data
                if (this.instances.length > 0)
                    this.instance = this.instances[0]
            })
        },
        getLogs () {
            this.$apiFetch('/api/logs?instance='+this.instance + '&begin=' + this.begin + '&end=' + this.end, {})
			.then(data => {
                this.logs = []
                data = data.split(/\r?\n/)
                var level = ''
                var id = 0
                for (var log in data){
                    var begin = data[log].indexOf('<')
                    var end = data[log].indexOf('>')
                    if (end >= 0 && begin >= 0 && begin < end ){
                        level = data[log].substring(begin+1, end)
                    }
                    this.logs.push({'id':id, 'level':level.toLowerCase(), 'text': data[log]})
                    id = id + 1
                }
            })
        },
    },
}
</script>

<style>
.dark .omalog-critical {
    color: red;
}
.dark .omalog-error {
    color: #cc0000;
}
.dark .omalog-warning {
    color: #ffcc00;
}
.dark .omalog-notice {
    color: green;
}
.dark .omalog-info {
    color: green;
}
.dark .omalog-tele {
    color: #0000cc;
}
.dark .omalog-debug {
    color: blue;
}

.light .omalog-critical {
    color: red;
}
.light .omalog-error {
    color: #cc0000;
}
.light .omalog-warning {
    color: #ffcc00;
}
.light .omalog-notice {
    color: #00f700;
}
.light .omalog-info {
    color: #00f700;
}
.light .omalog-tele {
    color: #0ff;
}
.light .omalog-debug {
    color: #eb00ff;
}
</style>
