<template>
<div class="light">
    <p>Les dates sont au format yyyy-mm-dd hh:mm:ss ou des entiers (positifs ou négatifs) représentant le moment présent plus ou moins ce nombre d’heure</p>
    <form @submit.prevent="getPige">
        <label for="begin">Début (yyyy-mm-dd hh:mm:ss ou ±N)</label>
        <input type="text" name="begin" v-model="begin" />
        <br/>
        <label for="end">Fin (yyyy-mm-dd hh:mm:ss ou ±N)</label>
        <input type="text" name="end" v-model="end" />
        <br/>
        <input type="submit" value="Voir la pige"/>
    </form>
    <ul>
        <li v-for="filename in data" :key="filename">
            <span> {{filename}} </span>
            <audio controls="" preload="none">
                <source :src="'/pige/'+filename" />
            </audio>
            <a class="noborder" :href="'/pige/' +filename" download><button>Télécharger</button></a>
        </li>
    </ul>
</div>
</template>

<script>

export default {
    name: 'PigeOgg',
    data: function () { return {
        logs: '',
        begin: '-1',
        end: '0',
        api_prefix: '/api/',
        data: [],
    }},
    methods: {
        getPige () {
            this.$apiFetch('/api/pigeogg?begin=' + this.begin + '&end=' + this.end, {}, data => {
                this.data = data.pige.sort()
            })
        },
    },
}
</script>

<style scoped>
audio {
    vertical-align: middle;
}
</style>
