<template>
<div class="light">
    <p>Les dates sont au format yyyy-mm-dd hh:mm:ss ou des entiers (positifs ou négatifs) représentant le moment présent plus ou moins ce nombre d’heure</p>
    <form @submit.prevent="getPige">
        <label for="begin">Début (yyyy-mm-dd hh:mm:ss ou ±N)</label>
        <input type="text" name="begin" v-model="begin" />
        <br/>
        <label for="end">Fin (yyyy-mm-dd hh:mm:ss ou ±N)</label>
        <input type="text" name="end" v-model="end" />
        <br/>
        <input type="submit" value="Voir la pige"/>
    </form>
    <pre>{{data}}</pre>
</div>
</template>

<script>

export default {
    name: 'PigeText',
    data: function () { return {
        logs: '',
        begin: '-1',
        end: '0',
        api_prefix: '/api/',
        data: '',
    }},
    methods: {
        getPige () {
            this.$apiFetch('/api/pigetext?begin=' + this.begin + '&end=' + this.end, {}, data => {
                this.data = data.pige
            })
        },
    },
}
</script>

<style>
</style>
